<div class="MuiBox-root jss276">
    <div class="MuiGrid-root jss277 MuiGrid-container MuiGrid-align-content-xs-center" position="static">
      <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12">
        <p class="MuiTypography-root jss279 MuiTypography-body2">Μια υπηρεσία του</p>
      </div>
      <div class="MuiGrid-root jss278 MuiGrid-item MuiGrid-grid-xs-12">
        <a href="https://gov.gr/"><img height="61" src="/img/gov_gr.png" alt="gov.gr"></a>
      </div>
      <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12">
        <p class="MuiTypography-root jss279 MuiTypography-body2">Υλοποίηση απο την <a target="_blank" rel="noopener noreferrer" href="https://www.grnet.gr">ΕΔΥΤΕ</a> με χρήση <a target="_blank" rel="noopener noreferrer" href="https://mathe.ellak.gr/">Ανοικτού Λογισμικού</a></p>
      </div>
      <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12">
        <p class="MuiTypography-root jss279 MuiTypography-body2">Άδεια χρήσης περιεχομένου: CC-BY-SA</p>
      </div>
      <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12">
        <p class="MuiTypography-root jss279 MuiTypography-body2"><a href="/terms">Όροι και Προϋποθέσεις</a></p>
      </div>
    </div>
</div>