<footer class="govgr-footer" role="contentinfo">
  <div class="govgr-width-container">
    <div class="govgr-footer__navigation">
    </div>
    <div class="govgr-footer__meta">
      <div class="govgr-footer__meta-item govgr-footer__meta-item--grow">
        <div class="govgr-footer__content">
          <p class="govgr-footer__licence-description">
            © Copyright 2023 - Υλοποίηση από το <a href="https://grnet.gr/" target="_blank" rel="noreferrer noopener"
              class="govgr-link"> ΕΔΥΤΕ <span class="govgr-visually-hidden">(ανοίγει σε καινούρια καρτέλα)</span></a> με
            χρήση <a href="https://mathe.ellak.gr/" target="_blank" rel="noreferrer noopener"
              class="govgr-link">Ανοικτού Λογισμικού</a> για το <a href="https://mindigital.gr/" target="_blank"
              rel="noreferrer noopener" class="govgr-link"> Υπουργείο Ψηφιακής Διακυβέρνησης <span
                class="govgr-visually-hidden">(ανοίγει σε καινούρια καρτέλα)</span></a> </p>
        </div>
      </div>
      <p></p>
      <div class="govgr-footer__meta-item">
        <img class="govgr-footer__government-logo" src="/img/government.svg" />
      </div>
    </div>
  </div>
</footer>