<header class="govgr-header govgr-header-internal">
    <div class="govgr-header__container">
        <div class="govgr-header__content"><a href="https://www.gov.gr/"> <img class="govgr-header-logo"
                    src="https://www.gov.gr/gov_gr_logo.svg" /> </a> <a href="https://ria.dev.grnet.gr/"
                class="govgr-header-title">Ανάλυση Συνεπειών Ρύθμισης</a>
            <!--  <img class="govgr-header-secondary-logo" src="images/e_gif_white.svg"/>-->
        </div>
    </div>
</header>
<!--<svg class="govgr-burger-icon" id="nav-icon" focusable="true" viewBox="0 0 24 24" aria-hidden="true">
    <rect id="govgr-burger-icon__line-1" width="20" height="3.3" />
    <rect id="govgr-burger-icon__line-2" width="20" height="3.3" />
    <rect id="govgr-burger-icon__line-3" width="20" height="3.3" />
</svg>-->


<nav class="govgr-horizontal-nav" id="nav-menu">
    <div class="govgr-horizontal-nav__container topnav" id="myTopnav">
        <ul class="menu_ul">
            <li><a href="/user_views/dashboard" class="govgr-link active">Αρχική</a>
            </li>
            <li>
                <a href="#" class="govgr-link">Διαχείριση Χρηστών



                    <svg aria-hidden="true" class="govgr-svg-icon govgr-arrow--down" focusable="false"
                        viewBox="0 0 24 24">
                        <path d="M22,8.2l-2.3-2.4L12,13.4L4.4,5.8L2,8.2l10,10L22,8.2z"></path>
                    </svg></a>

                <ul class="dropdown_ul govgr-dropdown__content" aria-label="submenu">
                    <li class="admin"><a class="govgr-link govgr-vertical-nav__item" href="/user_views/create_user">Δημιουργία
                            νέου
                            χρήστη</a>
                    </li>
                    <li class="admin"><a class="govgr-link govgr-vertical-nav__item" href="/user_views/search_user">Επεξεργασία
                            στοιχείων χρήστη
                        </a>
                    </li>
                    <li><a class="govgr-link govgr-vertical-nav__item" href="/user_views/profile">Τα στοιχεία
                            μου</a>
                    </li>
                </ul>
            </li>

            <li id="new_analysis">
                <a href="#" class="govgr-link">Νέα Ανάλυση



                    <svg aria-hidden="true" class="govgr-svg-icon govgr-arrow--down" focusable="false"
                        viewBox="0 0 24 24">
                        <path d="M22,8.2l-2.3-2.4L12,13.4L4.4,5.8L2,8.2l10,10L22,8.2z"></path>
                    </svg></a>

                <ul id="analysis_list" class="dropdown_ul govgr-dropdown__content" aria-label="submenu">
                    <li><a class="govgr-link" href="/create_analysis/:sxedio_nomou">Σχέδιο Νόμου</a>
                    </li>
                    <li><a class="govgr-link" href="/create_analysis/:prosxedio_nomou">Προσχέδιο νόμου</a>
                    </li>
                    <li><a class="govgr-link" href="/create_analysis/:kateythintiries_grammes">Κατευθυντήριες γραμμές</a>
                    </li>
                    <li><a class="govgr-link" href="/create_analysis/:epeigon_katepeigon">Επείγον ή κατεπείγον νομοσχέδιο</a>
                    </li>

                    <li class="vouleftis"><a class="govgr-link" href="/create_analysis/:protasi_nomou">Πρόταση νόμου</a>
                    </li>

                    <li><a class="govgr-link" href="/create_analysis/:diethneis_symvaseis">Διεθνείς
                            συμβάσεις</a>
                    </li>

                    <li><a class="govgr-link" href="/create_analysis/:tropologies_upourgwn">Τροπολογίες Υπουργών</a>
                    </li>

                    <li class="vouleftis"><a class="govgr-link" href="/create_analysis/:tropologies_vouleutwn">Τροπολογίες
                            Βουλευτών</a>
                    </li>

                </ul>
            </li>
            <li>
                <a href="#" class="govgr-link">Διαχείριση Αναλύσεων



                    <svg aria-hidden="true" class="govgr-svg-icon govgr-arrow--down" focusable="false"
                        viewBox="0 0 24 24">
                        <path d="M22,8.2l-2.3-2.4L12,13.4L4.4,5.8L2,8.2l10,10L22,8.2z"></path>
                    </svg></a>

                <ul class="dropdown_ul govgr-dropdown__content" aria-label="submenu">
                    <li class="admin"><a class="govgr-link" href="" id="ministries">Επικαιροποίηση
                            Υπουργείων</a>
                    </li>
                    <li class="admin"><a class="govgr-link" href="/user_views/summaries">Συνοπτικά
                            στοιχεία</a>
                    </li>
                    <li><a class="govgr-link" href="/user_views/history">Ιστορικό</a>
                    </li>
                    <li><a class="govgr-link" href="/user_views/indexes">Διαχείριση δεικτών</a>
                    </li>
                    <li><a class="govgr-link" href="/user_views/ministries">Διαχείριση Υπουργείων & Υπουργών</a>
                    </li>
                </ul>
            </li>

            <li><a class="govgr-link" href="/login" id="exit">Έξοδος</a>
            </li>
        </ul>
    </div><a href="javascript:void(0);" id="burger-icon" class="icon" onclick="myFunction()">&#9776;</a>
</nav>