<header class="govgr-header govgr-header-internal">
    <div class="govgr-header__container">
        <div class="govgr-header__content"><a href="https://www.gov.gr/"> <img class="govgr-header-logo"
                    src="https://www.gov.gr/gov_gr_logo.svg" /> </a> <a href="https://ria.dev.grnet.gr/"
                class="govgr-header-title">Ανάλυση Συνεπειών Ρύθμισης</a>
            <!--  <img class="govgr-header-secondary-logo" src="images/e_gif_white.svg"/>-->
        </div>
        <!-- Menu (needs to be placed here atm)-->
        <div>
            <div class="govgr-burger-menu govgr-burger-menu--white-bg">
                <div id="govgr-burger-menu__line1"></div>
                <div id="govgr-burger-menu__line2"></div>
                <div id="govgr-burger-menu__line3"></div>
            </div>
        </div>
        <!-- End of menu -->
    </div>
</header>
<svg class="govgr-burger-icon" focusable="true" viewBox="0 0 24 24" aria-hidden="true">
    <rect id="govgr-burger-icon__line-1" width="20" height="3.3" />
    <rect id="govgr-burger-icon__line-2" width="20" height="3.3" />
    <rect id="govgr-burger-icon__line-3" width="20" height="3.3" />
</svg>
<nav class="govgr-horizontal-nav">
    <div class="govgr-horizontal-nav__container"><a href="/user_views/dashboard"
            class="govgr-horizontal-nav__item govgr-horizontal-nav__item-active"> Αρχική </a>
        <details class="govgr-dropdown">
            <summary class="govgr-dropdown__button govgr-link"> Διαχείριση Χρηστών
                <svg aria-hidden="true" class="govgr-svg-icon govgr-arrow--down" focusable="false" viewBox="0 0 24 24">
                    <path d="M22,8.2l-2.3-2.4L12,13.4L4.4,5.8L2,8.2l10,10L22,8.2z" />
                </svg>
            </summary>
            <div class="govgr-dropdown__content">
                <nav class="govgr-vertical-nav"><a href="/user_views/create_user"
                        class="govgr-link govgr-vertical-nav__item admin"> Δημιουργία νέου
                        χρήστη</a><a href="/user_views/search_user" class="govgr-link govgr-vertical-nav__item admin">
                        Επεξεργασία στοιχείων χρήστη
                    </a><a href="/user_views/profile" class="govgr-link govgr-vertical-nav__item"> Τα στοιχεία
                        μου</a>
                </nav>
            </div>
        </details>
        <details class="govgr-dropdown" id="new_analysis">
            <summary class="govgr-dropdown__button govgr-link"> Νέα Ανάλυση
                <svg aria-hidden="true" class="govgr-svg-icon govgr-arrow--down" focusable="false" viewBox="0 0 24 24">
                    <path d="M22,8.2l-2.3-2.4L12,13.4L4.4,5.8L2,8.2l10,10L22,8.2z" />
                </svg>
            </summary>
            <div class="govgr-dropdown__content">
                <nav class="govgr-vertical-nav" id="analysis_list"><a href="/create/:sxedio_nomou"
                        class="govgr-link govgr-vertical-nav__item"> Σχέδιο
                        νόμου</a><a href="/create/:prosxedio_nomou" class="govgr-link govgr-vertical-nav__item">
                        Προσχέδιο νόμου </a><a href="/create/:kateythintiries_grammes"
                        class="govgr-link govgr-vertical-nav__item"> Κατευθυντήριες γραμμές</a><a
                        href="/create/:epeigon_katepeigon" class="govgr-link govgr-vertical-nav__item"> Επείγον ή
                        κατεπείγον νομοσχέδιο </a><a href="/create/:protasi_nomou"
                        class="govgr-link govgr-vertical-nav__item vouleftis"> Πρόταση νόμου</a><a
                        href="/create/:diethneis_symvaseis" class=" govgr-link govgr-vertical-nav__item"> Διεθνείς
                        συμβάσεις</a>
                    <a href="/create/:tropologies_upourgwn" class="govgr-link govgr-vertical-nav__item"> Τροπολογίες
                        Υπουργών</a>
                    <a href="/create/:tropologies_vouleutwn" class="govgr-link govgr-vertical-nav__item vouleftis"> Τροπολογίες
                        Βουλευτών</a>
                </nav>
            </div>
        </details>
        <details class="govgr-dropdown">
            <summary class="govgr-dropdown__button govgr-link"> Διαχείριση Αναλύσεων
                <svg aria-hidden="true" class="govgr-svg-icon govgr-arrow--down" focusable="false" viewBox="0 0 24 24">
                    <path d="M22,8.2l-2.3-2.4L12,13.4L4.4,5.8L2,8.2l10,10L22,8.2z" />
                </svg>
            </summary>
            <div class="govgr-dropdown__content">
                <nav class="govgr-vertical-nav">
                    <a class="govgr-link govgr-vertical-nav__item admin" href="" id="ministries"> Επικαιροποίηση
                        Υπουργείων</a>
                    <a href="/user_views/summaries" class="govgr-link govgr-vertical-nav__item admin"> Συνοπτικά
                        στοιχεία</a><a href="/user_views/history" class="govgr-link govgr-vertical-nav__item">
                        Ιστορικό </a>
                </nav>
            </div>
        </details>
        <div>
            <a href="/login" class="govgr-horizontal-nav__item govgr-horizontal-nav__item-active" id="exit" onclick=""> Έξοδος </a>
        </div>
    </div>
   
</nav>