<!DOCTYPE HTML>
<html lang="el">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="./images/favicon16x16.ico" sizes="16x16" type="../favicon-16.png" />
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@3.0.24/tailwind.css" rel="stylesheet"
        crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/@digigov/css@0.24.0/dist/digigov.css" rel="stylesheet"
        crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Digigov CSS -->
    <link href="/css/digigov-custom.css" rel="stylesheet" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" />
    <title>Ανάλυση Συνεπειών Ρύθμισης | </title>
</head>

<body data-gr-c-s-loaded="true">
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <%- include('header.ejs') %>