



<!DOCTYPE HTML>
<html lang="el">
    <head>
        <meta charset="utf-8"><link rel="shortcut icon" href="https://government.gov.gr/wp-content/uploads/2017/09/gov_logos-08_16x16_favicon.png">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="theme-color" content="#000000">
        <meta name="description" content="Regulatory Impact Analysis | GOV.GR">
        <link rel="apple-touch-icon" href="logo192.png">
        <title>Ανάλυση Συνεπειών Ρύθμισης </title>
        <%- include('style.ejs') %>
    </head>
    <body data-gr-c-s-loaded="true">
        <noscript>You need to enable JavaScript to run this app.</noscript>
        <div id="root">
            <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
            <div class="MuiGrid-root MuiGovGRApp-root MuiGrid-container MuiGrid-direction-xs-column" id="content">
                <%- include('header.ejs') %>
                