<div class="MuiBox-root jss114">
    <header class="MuiPaper-root MuiAppBar-root MuiAppBar-positionStatic MuiAppBar-colorPrimary jss115 MuiPaper-elevation4">
    <div class="MuiContainer-root MuiContainer-maxWidthLg">
        <div class="MuiToolbar-root MuiToolbar-dense jss122">
        <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-1">
            <div class="MuiGrid-root jss120 MuiGrid-item">
            <div class="jss117">
                <a href="https://gov.gr" style="display: flex;"><img src="https://dilosi.services.gov.gr/static/media/logogov.06b8e3d7.svg" height="50" alt="header.logo_alt_label"></a>
            </div>
            <a class="MuiButtonBase-root" tabindex="0" aria-disabled="false" href="/">
                <h4 class="jss118 jss178 jss182">Regulatory Impact Analysis<div class="MuiServiceBadge-root">ALPHA</div></h4>
            </a>
            </div>
        </div>
        </div>
    </div>
    <div class="jss116"></div>
    </header>
</div>