<%- include('partials/head.ejs') %>
    <div class="MuiContainer-root jss110 MuiContainer-maxWidthLg">
        <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-4">
            <%- include('sintaktis_form.ejs') %>
            
      </div>
    </div>
    <%- include('partials/footer.ejs') %>
  </div>
</body>
</html>