<%- include('partials/head.ejs') %>
    <div class="MuiContainer-root jss110 MuiContainer-maxWidthLg">
        <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-4">
            <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-8">
                
                <div class="MuiBox-root jss209">
                    <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-4">
                        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12">
                            <h3 class="jss112 jss178 jss179">Ανάλυση Συνεπειών Ρύθμισης</h3>
                            <p>Με τον νόμο 4622/2019, θεσμοθετήθηκε μια συνεκτική <a
                                href="https://diavgeia.gov.gr/luminapi/api/decisions/6%CE%A8%CE%A3%CE%A846%CE%9C%CE%93%CE%A87-%CE%96%CE%A11/attachments/afaf12db-d6e5-4e33-8e78-d247e6b0109f/document">
                                Ανάλυση Συνεπειών Ρύθμισης (ΑΣΡ)</a> , η οποία ενσωματώνει, τόσο
                                όλες τις επιμέρους εκθέσεις που ήδη προβλέπονταν (<i>αιτιολογική έκθεση, εκθέσεις του Γενικού Λογιστηρίου του
                                Κράτους, έκθεση γενικών συνεπειών, έκθεση διαβούλευσης</i>), όσο και δύο νέες εκθέσεις θεμελιώδους σημασίας: <i>την έκθεση νομιμότητας και
                                την έκθεση εφαρμογής, καθώς και πίνακα τροποποιούμενων ή καταργούμενων διατάξεων.</i>.
                                <br>  
                                Η Γενική Γραμματεία Νομικών και Κοινοβουλευτικών Θεμάτων της Προεδρίας της Κυβέρνησης, ως η αρμόδια υπηρεσία
                                για τον αποτελεσματικό συντονισμό και την εφαρμογή της ρυθμιστικής διακυβέρνησης, καθώς και η Επιτροπή
                                Αξιολόγησης Ποιότητας της Νομοπαρασκευαστικής Διαδικασίας, ως ένα ανεξάρτητο, διεπιστημονικό, γνωμοδοτικό
                                όργανο, διασφαλίζουν τόσο την πληρότητα όσο και την ποιότητα της Ανάλυσης.
                                <br>  
                                Η ΑΣΡ αποτελείται από <i>οκτώ (8) διακριτές ενότητες, που περιλαμβάνουν σαράντα (40) συνολικά πεδία.</i></p>

                        </div>
                    </div>
                </div>
                <div>
                    <a href="/login" class="MuiButtonBase-root MuiButton-root jss243 MuiButton-contained MuiButton-containedPrimary MuiButton-containedSizeLarge MuiButton-sizeLarge" tabindex="0" role="button" aria-disabled="false" data-testid="button" style="margin-bottom: 32px;">
                        <span class="MuiButton-label">Ξεκινήστε εδώ<svg class="MuiSvgIcon-root" focusable="false" viewBox="0 0 24 24" aria-hidden="true"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path></svg>
                        </span>
                        <span class="MuiTouchRipple-root"></span>
                    </a>
                    <!-- <h3 class="jss178 jss181">Πριν ξεκινήσετε</h3>
                    <p class="MuiTypography-root jss211 MuiTypography-body1">Για την έκδοση εγγράφου θα χρειαστείτε:</p>
                    <ul>
                        <li><p class="MuiTypography-root MuiTypography-body1">Τους κωδικούς πρόσβασης στο GOV.GR ή στο TaxisNet για να επιβεβαιώσετε τα στοιχεία σας</p></li>
                        <li><p class="MuiTypography-root MuiTypography-body1">Να γνωρίζετε τον παραλήπτη του εγγράφου</p></li>
                        <li><p class="MuiTypography-root MuiTypography-body1">Το κινητό σας όπου ενδέχεται να σας αποσταλούν κωδικοί επιβεβαίωσης πριν την έκδοση του εγγράφου</p></li>
                    </ul>
                    <p class="MuiTypography-root jss211 MuiTypography-body1">Για τον έλεγχο της εγκυρότητας ενός εγγράφου θα χρειαστείτε:</p>
                    <ul>
                        <li><p class="MuiTypography-root MuiTypography-body1">είτε τον κωδικό επαλήθευσης του εγγράφου</p></li>
                        <li><p class="MuiTypography-root MuiTypography-body1">είτε το QR code</p></li>
                    </ul>
                    <p class="MuiTypography-root jss211 MuiTypography-body1">Για την προβολή της θυρίδας και του αρχείου των εγγράφων σας, θα χρειαστείτε:</p>
                    <ul>
                        <li><p class="MuiTypography-root MuiTypography-body1">Τους κωδικούς πρόσβασης στο GOV.GR ή στο TaxisNet για να επιβεβαιώσετε τα στοιχεία σας</p></li>
                    </ul>
                    <h3 class="jss178 jss181">Χαρακτηριστικά</h3>
                    <ul>
                        <li><p class="MuiTypography-root MuiTypography-body1">Τα έγγραφα μπορείτε να τα αποστείλετε ηλεκτρονικά ή να τα εκτυπώσετε και να τα παραδώσετε έντυπα.</p></li>
                        <li><p class="MuiTypography-root MuiTypography-body1">Όλα τα ηλεκτρονικά και έντυπα έγγραφα φέρουν μοναδικό αναγνωριστικό κωδικό επαλήθευσης με τον οποίο μπορεί να γίνει αναζήτηση του εγγράφου και επαλήθευση των περιεχομένων του.</p></li>
                    </ul> -->
                </div>
            </div>
            <!-- <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-4">
                <div class="jss111">
                    <div class="jss274">
                        <h3 class="jss273 jss178 jss181">Χρήσιμοι Σύνδεσμοι</h3>
                        <ul class="jss275">
                            <li><a href="https://howto.gov.gr/mod/page/view.php?id=87">Συχνές ερωτήσεις για Υπεύθυνη Δήλωση</a></li>
                            <li><a href="https://howto.gov.gr/mod/page/view.php?id=96">Συχνές ερωτήσεις για Εξουσιοδότηση</a></li>
                            <li><a href="https://ke-ypoik.gsis.gr/WebTicket?type=govgr01">Επικοινωνία</a></li>
                        </ul>
                    </div>
                </div> 
            </div> -->
      </div>
    </div>
    <%- include('partials/footer.ejs') %>

  <style>
    a {
       color: blue;
     }

    #footer {
        position: absolute;
        bottom: 0%;
        width: 100%;
    }     
   </style>
   
</body>
</html>