<%- include('partials/head.ejs') %>
    <nav class="govgr-horizontal-nav">
        <div class="govgr-horizontal-nav__container"><a href=""
                class="govgr-horizontal-nav__item govgr-horizontal-nav__item-active"> Αρχική </a><a href="/login"
                class="govgr-horizontal-nav__item"> Είσοδος </a><a href="#" class="govgr-horizontal-nav__item">
                Επικοινωνία </a>
        </div>
    </nav>
    <div class="govgr-masthead govgr-background-dark">
        <div class="govgr-width-container">
            <div class="govgr-main-wrapper-4">
                <div class="govgr-grid__col-span-2 px-2">
                    <h1 class="govgr-heading-xl">Ανάλυση Συνεπειών Ρύθμισης</h1>
                    <p id="home" class="my-3 w-10/12"><b>Νέα Ψηφιακή εποχή </b>που διασφαλίζει τόσο την πληρότητα όσο και
                        την ποιότητα της Ανάλυσης. </p>
					<p id="home" class="my-3 w-10/12"><b>Νέος Μηχανισμός ελέγχου</b> της ποιότητας της νομοπαρασκευαστικής
                        διαδικασίας. </p>
					<p id="home" class="my-3 w-10/12 mb-8"><b>Καταγραφή, αποτύπωση και μοντελοποίηση</b> των υφιστάμενων διοικητικών διαδικασιών των δημοσίων υπηρεσιών και φορέων.</p>
                    <a href="/login"> <button class="govgr-btn govgr-btn-primary govgr-btn-cta">
                            Είσοδος στην υπηρεσία<span class="right-arrow"></span>
                            <svg viewBox="0 0 24 24" class="govgr-arrow--right" focusable="false" aria-hidden="true">
                                <path d="M8.5,2L6.1,4.3l7.6,7.7l-7.6,7.6L8.5,22l10-10L8.5,2z" />
                            </svg>
                        </button> </a>
                </div>
                <div class="govgr-grid__col-span-2 px-2">
                    <img class="rounded-lg" src="img/law.png" />
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="govgr-layout-wrapper">
        <div class="govgr-width-container">
            <div class="govgr-main-wrapper text-blue-900">
                <div class="govgr-grid-column-one-third">
                    <h1 class="govgr-heading-m text-center" style="color: #0081d6;">Περιγραφή</h1>
                    <p class="text-justify hyphens">Με τον νόμο 4622/2019, θεσμοθετήθηκε μια συνεκτική <a
                            class="govgr-link" href="https://diavgeia.gov.gr/luminapi/api/decisions/6%CE%A8%CE%A3%CE%A846%CE%9C%CE%93%CE%A87-%CE%96%CE%A11/attachments/afaf12db-d6e5-4e33-8e78-d247e6b0109f/document"><b
                                class="underline">Ανάλυση Συνεπειών Ρύθμισης (ΑΣΡ)</b></a>, η οποία ενσωματώνει, τόσο
                        όλες τις επιμέρους εκθέσεις που ήδη προβλέπονταν (αιτιολογική έκθεση, εκθέσεις του Γενικού
                        Λογιστηρίου του Κράτους, έκθεση γενικών συνεπειών, έκθεση διαβούλευσης), όσο και δύο νέες
                        εκθέσεις θεμελιώδους σημασίας: την <b>έκθεση νομιμότητας</b> και την <b>έκθεση εφαρμογής</b>,
                        καθώς και <b>πίνακα τροποποιούμενων ή καταργούμενων διατάξεων</b>.</p>
                </div>
                <div class="govgr-grid-column-one-third">
                    <h1 class="govgr-heading-m text-center" style="color: #0081d6;">Αρμόδιες Αρχές</h1>
                    <p class="text-justify hyphens">Η <b>Γενική Γραμματεία Νομικών και Κοινοβουλευτικών Θεμάτων</b> της
                        Προεδρίας της Κυβέρνησης, ως η αρμόδια υπηρεσία για τον αποτελεσματικό συντονισμό και την
                        εφαρμογή της ρυθμιστικής διακυβέρνησης, καθώς και η <b>Επιτροπή Αξιολόγησης Ποιότητας της
                            Νομοπαρασκευαστικής Διαδικασίας</b>, ως ένα ανεξάρτητο, διεπιστημονικό, γνωμοδοτικό όργανο,
                        διασφαλίζουν τόσο την πληρότητα όσο και την ποιότητα της Ανάλυσης.</p>
                </div>
                <div class="govgr-grid-column-one-third">
                    <h1 class="govgr-heading-m text-center" style="color: #0081d6;">Εφαρμογή</h1>
                    <p class="text-justify hyphens">Θα ενσωματώνει ένα μηχανισμό διαρκούς 
			επικαιροποίησης των διαδικασιών, ώστε  να υποστηρίζει το στόχο του νομοθέτη: «η διαρκής τήρηση του <b>Εθνικού Μητρώου Διαδικασιών</b> Ελληνικής Δημόσιας Διοίκησης και η συνεχής και 
			αποκλειστική ενημέρωσή του με τις μεταβολές απλούστευσης».Θα αποτελεί προαπαιτούμενο και προπομπό του διακριτού έργου της απλούστευσης των διαδικασιών, 
			το οποίο έχει ως σκοπό την κατάργηση ή μείωση των απαιτούμενων βημάτων ή/και δικαιολογητικών.</p>
                </div>
            </div>
        </div>
    </div>
        <%- include('partials/footer.ejs') %>
 

        <style>
           /* a {
                color: blue;
            }*/

            /* #footer {
                position: absolute;
                bottom: 0%;
                width: 100%;
            } */
        </style>
        <script>$("#nav-menu").hide()</script>

        </body>

        </html>