<%- include('partials/head.ejs') %>
    <nav class="govgr-horizontal-nav">
        <div class="govgr-horizontal-nav__container"><a href=""
                class="govgr-horizontal-nav__item govgr-horizontal-nav__item-active"> Αρχική </a><a href="./login"
                class="govgr-horizontal-nav__item"> Είσοδος </a><a href="#" class="govgr-horizontal-nav__item">
                Επικοινωνία </a>
        </div>
    </nav>
    <div class="govgr-masthead govgr-background-dark">
        <div class="govgr-width-container">
            <div class="govgr-grid">
                <div class="govgr-grid__col-span-6">
                    <h1 class="govgr-heading-xl">Ανάλυση Συνεπειών Ρύθμισης</h1>
                    <p class="my-12 w-10/12 leading-loose">Νέα Ψηφιακή εποχή που διασφαλίζει τόσο την πληρότητα όσο και
                        την ποιότητα της Ανάλυσης. <br />Μηχανισμός ελέγχου της ποιότητας της νομοπαρασκευαστικής
                        διαδικασίας .....<br /></p>
                    <a href="/login"> <button class="govgr-btn govgr-btn-primary govgr-btn-cta">
                            Είσοδος στην υπηρεσία<span class="right-arrow"></span>
                            <svg viewBox="0 0 24 24" class="govgr-arrow--right" focusable="false" aria-hidden="true">
                                <path d="M8.5,2L6.1,4.3l7.6,7.7l-7.6,7.6L8.5,22l10-10L8.5,2z" />
                            </svg>
                        </button> </a>
                </div>
                <div class="govgr-grid__col-span-6">
                    <img src="images/law.png" />
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="govgr-layout-wrapper">
        <div class="govgr-width-container">
            <div class="govgr-main-wrapper text-blue-900">
                <div class="govgr-grid-column-one-third">
                    <h1 class="govgr-heading-s text-center">Περιγραφή</h1>
                    <p class="text-justify">Με τον νόμο 4622/2019, θεσμοθετήθηκε μια συνεκτική <a
                            href="https://diavgeia.gov.gr/luminapi/api/decisions/6%CE%A8%CE%A3%CE%A846%CE%9C%CE%93%CE%A87-%CE%96%CE%A11/attachments/afaf12db-d6e5-4e33-8e78-d247e6b0109f/document"><b
                                class="underline">Ανάλυση Συνεπειών Ρύθμισης (ΑΣΡ)</b></a>, η οποία ενσωματώνει, τόσο
                        όλες τις επιμέρους εκθέσεις που ήδη προβλέπονταν (αιτιολογική έκθεση, εκθέσεις του Γενικού
                        Λογιστηρίου του Κράτους, έκθεση γενικών συνεπειών, έκθεση διαβούλευσης), όσο και δύο νέες
                        εκθέσεις θεμελιώδους σημασίας: την <b>έκθεση νομιμότητας</b> και την <b>έκθεση εφαρμογής</b>,
                        καθώς και <b>πίνακα τροποποιούμενων ή καταργούμενων διατάξεων</b>.</p>
                </div>
                <div class="govgr-grid-column-one-third">
                    <h1 class="govgr-heading-s text-center">Αρμόδιες Αρχές</h1>
                    <p class="text-justify">Η <b>Γενική Γραμματεία Νομικών και Κοινοβουλευτικών Θεμάτων</b> της
                        Προεδρίας της Κυβέρνησης, ως η αρμόδια υπηρεσία για τον αποτελεσματικό συντονισμό και την
                        εφαρμογή της ρυθμιστικής διακυβέρνησης, καθώς και η <b>Επιτροπή Αξιολόγησης Ποιότητας της
                            Νομοπαρασκευαστικής Διαδικασίας</b>, ως ένα ανεξάρτητο, διεπιστημονικό, γνωμοδοτικό όργανο,
                        διασφαλίζουν τόσο την πληρότητα όσο και την ποιότητα της Ανάλυσης.</p>
                </div>
                <div class="govgr-grid-column-one-third">
                    <h1 class="govgr-heading-s text-center">Ενότητες</h1>
                    <p class="text-justify">Η ΑΣΡ αποτελείται από οκτώ (8) διακριτές ενότητες, που περιλαμβάνουν σαράντα
                        (40) συνολικά πεδία.Η <b>Γενική Γραμματεία Νομικών και Κοινοβουλευτικών Θεμάτων</b> της
                        Προεδρίας της Κυβέρνησης, ως η αρμόδια υπηρεσία για τον αποτελεσματικό συντονισμό και την
                        εφαρμογή της ρυθμιστικής διακυβέρνησης, καθώς και η <b>Επιτροπή Αξιολόγησης Ποιότητας της
                            Νομοπαρασκευαστικής Διαδικασίας</b>...................... .................. ...............
                        ............... ........................ .................. ....................</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Load jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <!-- Load custom js -->
    <script src="./js/components.js" type="module"></script>
    <script src="./js/digigov-custom.js" type="module"></script>
    <script src="./js/digigov.min.js" type="module"></script>
    <%- include('partials/footer.ejs') %>

        <style>
            a {
                color: blue;
            }

            #footer {
                position: absolute;
                bottom: 0%;
                width: 100%;
            }
        </style>

        </body>

        </html>