<%- include('partials/head.ejs') %>

  <div class="govgr-width-container">
    <div class="govgr-main-wrapper">
      <div class="govgr-grid-column-two-thirds">
        <form id="loginForm">
          <div id="errors">
            <% if( typeof errors !=="undefined" ) { for (i in errors) {%>
              <div
                class="alert alert-warning alert-dismissible fade show bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"
                role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <%= errors[i].msg%>
              </div>
          <% } } %> <br />
      </div>
      <div>
        <h2 class="govgr-heading-xl">Απαιτείται ταυτοποίηση</h2>
        <h2 class="govgr-heading-l">Για να προχωρήσετε πρέπει πρώτα να συνδεθείτε.</h2>
      </div>
      <div class="govgr-field">
        <label class="govgr-label">
          <span>Όνομα Χρήστη</span>
          <input class="govgr-input govgr-!-width-one-half" type="text" id="username" name="username" required />
        </label>
      </div>
      <div class="govgr-field">
        <label class="govgr-label">
          <span>Κωδικός Πρόσβασης</span>
          <input type="password" class="govgr-input govgr-!-width-one-half" id="password" name="password" required />
        </label>
      </div>
      <!-- <input type="submit" name="login" class=" govgr-btn govgr-btn-primary" value="Σύνδεση" /> <br /><br /> -->
      <div class="govgr-button-group">
        <input type="submit" name="login" class=" govgr-btn govgr-btn-primary" value="Σύνδεση" /> <br /><br />
        <input type="button" id="oauth2" name="oauth2" class=" govgr-btn govgr-btn-primary"
          value="Σύνδεση με Κωδικούς TAXISNET" /> <br /><br />
      </div>
      </form>
    </div>
  </div>
  <p></p><br /><br />
  </div>

  <%- include('partials/footer.ejs') %>
    </div>

    <style>
      body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: white;
      }

      * {
        box-sizing: border-box;
      }

      /* Add padding to containers */
      .container {
        padding: 16px;
        background-color: black;
      }

      /* Full-width input fields */
      input[type=text],
      input[type=password] {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        display: inline-block;
        border: 2px solid #ccc;
        border-radius: 4px;
        background: #f1f1f1;
      }

      input[type=text]:focus,
      input[type=password]:focus {
        background-color: #ddd;
        outline: none;
      }

      /* Overwrite default styles of hr */
      hr {
        border: 1px solid #f1f1f1;
        margin-bottom: 25px;
      }

      .action-button {
        font-size: 16px;
      }
    </style>

    <script>

      $("form").on("submit", function (ev) {
          ev.preventDefault();
          $.ajax({
            url: '/login',
            data: $(this).serialize(),
            error: function (error) {
              for (let i in error.responseJSON) {
                $('#errors').append(`              
                  <div class="alert alert-warning alert-dismissible fade show bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>     
                    ${error.responseJSON[i].msg} </div>                                 
              `)
              }
            },
            success: function (data) {
              window.location = data.redirect
            },
            type: 'POST'
          });
        })

      $("#oauth2").on("click", function (ev) {
        ev.preventDefault();
        $.ajax({
          url: '/oauth2',
          error: function (error) {
            console.log(error)
          },
          success: function (data) {
            window.location = data.redirect
          },
          type: 'GET'
        });
      })
      $("#nav-menu").hide();
      $("#nav-icon").hide();
    </script>
    </body>

    </html>