<div class="govgr-grid-column-one-third">
    <div class="" id="menu">
        <h3 class="govgr-heading-m">Πίνακας έκθεσης</h3>
        <details class="govgr-details">
            <summary class="govgr-details__summary"> <b>Αρχική σελίδα</b>
            </summary>
            <div class="govgr-details__summary-text">
                 <ul class="govgr-list govgr-list--bullet arxiki_menu progressbar">
                    <li class="active">
                <a class="menu" href="#arxiki">Τίτλος αξιολογούμενης ρύθμισης & τομείς νομοθέτησης</a>
                 </li>
                </ul> 
            </div>
        </details>
        <details class="govgr-details">
            <summary class="govgr-details__summary"> <b>Α. Αιτιολογική έκθεση</b>
            </summary>
            <div class="govgr-details__summary-text">
                 <ul class="govgr-list govgr-list--bullet aitiologiki_menu progressbar">
                    <li> 
                <a class="menu" href="#tautotita_ruthmisis">Η «ταυτότητα» της αξιολογούμενης ρύθμισης (πεδία
                    1-3)</a>
                
                </li>
                   <li> 
                    
                        <a class="menu" href="#anagkaiotita_rythmisis_1">Η αναγκαιότητα της αξιολογούμενης ρύθμισης
                    (πεδίο 4)</a>
               
                </li>
                    <li> 
                <a class="menu" href="#anagkaiotita_rythmisis_2">Η αναγκαιότητα της αξιολογούμενης ρύθμισης
                    (πεδίο 5)</a>
                
                </li>
                    <li> 
                <a class="menu" href="#sunafeis_praktikes">Συναφείς πρακτικές (πεδίο 6)</a>
                
                 </li>
                    <li> 
                <a class="menu" href="#stoxoi_ruthmisis">Στόχοι αξιολογούμενης ρύθμισης (πεδία 7-8)</a>
                
                 </li>
                    <li> 
                <a class="menu" href="#eidikoteroi_stoxoi_analogws_tomea">Ειδικότεροι στόχοι ανάλογα με τον
                    τομέα νομοθέτησης (πεδίο 9)</a>
                
                 </li>
                    <li> 
                <a class="menu" href="#digital_governance">Ψηφιακή διακυβέρνηση (πεδία 10-13)</a>
                
                 </li>
                    <li> 
                <a class="menu" href="#kat_arthro_analusi">Κατ’άρθρο ανάλυση αξιολογούμενης ρύθμισης (πεδίο
                    14)</a>
                 </li>
                </ul> 
            </div>
        </details>
        <details class="govgr-details">
            <summary class="govgr-details__summary"> <b>Β. Έκθεση Γενικού Λογιστηρίου του Κράτους (άρθρο 75 παρ. 1 ή 2
                    του Συντάγματος)</b>
            </summary>
            <div class="govgr-details__summary-text">
                 <ul class="govgr-list govgr-list--bullet ekthesi_syntagmatos_menu progressbar">
                    <li> 
                        <a class="menu" href="#ekthesi_genikou_logistiriou"> Συνοπτική ανάλυση των άρθρων της
                            αξιολογούμενης ρύθμισης (πεδίο 15)</a>
                     </li>
                    <li> 
                        <a class="menu" href="#oikonomika_apotelesmata_proupologismwn">Οικονομικά αποτελέσματα επί του
                            Κρατικού Προϋπολογισμού ή/και επί του προϋπολογισμού του/των αρμόδιου/ων φορέα/ων (πεδίο
                            16)</a>
                     </li>
                </ul> 
            </div>
        </details>
        <details class="govgr-details">
            <summary class="govgr-details__summary"> <b>Γ. Ειδική Έκθεση (άρθρο 75 παρ. 3 του Συντάγματος)</b>
            </summary>
            <div class="govgr-details__summary-text">
                 <ul class="govgr-list govgr-list--bullet eidiki_ekthesi_menu progressbar">
                    <li> 
                        <a class="menu" href="#oikonomika_apotelesmata">Οικονομικά αποτελέσματα (πεδίο 17)</a>
                     </li>
                </ul> 
            </div>
        </details>
        <details class="govgr-details">
            <summary class="govgr-details__summary"> <b>Δ. Έκθεση γενικών συνεπειών</b>
            </summary>
            <div class="govgr-details__summary-text">
                 <ul class="govgr-list govgr-list--bullet ekthesi_genikwn_synepeiwn_menu progressbar">
                    <li> 
                        <a class="menu" href="#ofeli_rythmisis">Οφέλη αξιολογούμενης ρύθμισης (πεδίο 18)</a>
                    </li>
                    <li>
                        <a class="menu" href="#kostos_rythmisis">Κόστος αξιολογούμενης ρύθμισης (πεδίο 19)</a>
                    </li>
                    <li>
                        <a class="menu" href="#kindynoi_rythmisis">Κίνδυνοι αξιολογούμενης ρύθμισης (πεδίο 20)</a>
                    </li>
                    <li>
                        <a class="menu" href="#porismata">Γνώμες ή πορίσματα αρμόδιων υπηρεσιών και ανεξάρτητων αρχών
                            (πεδίο 21)</a>
                     </li>
                </ul> 
            </div>
        </details>
        <details class="govgr-details">
            <summary class="govgr-details__summary"> <b>Ε. Έκθεση διαβούλευσης</b>
            </summary>
            <div class="govgr-details__summary-text">
                <ul class="govgr-list govgr-list--bullet ekthesi_diavouleusis_menu progressbar">
                    <li> 
                        <a class="menu" href="#diavouleusi_nomoparaskeuastikis">Διαβούλευση κατά τη διάρκεια της
                            νομοπαρασκευαστικής διαδικασίας από την έναρξη κατάρτισης της αξιολογούμενης ρύθμισης μέχρι
                            την υπογραφή από τους συναρμόδιους Υπουργούς (πεδίο 22)</a>
                    </li>
                    <li> 
                        <a class="menu" href="#sxolia_diavouleusis">Σχόλια στο πλαίσιο της διαβούλευσης μέσω της
                            ηλεκτρονικής πλατφόρμας www.opengov.gr (πεδίο 23) </a>
                     </li>
                </ul> 
            </div>
        </details>
        <details class="govgr-details">
            <summary class="govgr-details__summary"> <b>ΣΤ. Έκθεση νομιμότητας</b>
            </summary>
            <div class="govgr-details__summary-text">
                 <ul class="govgr-list govgr-list--bullet ekthesi_nomimotitas_menu progressbar">
                    <li> 
                        <a class="menu" href="#sunafeis_diatakseis">Συναφείς συνταγματικές διατάξεις (πεδίο 24)</a>
                     </li>
                    <li>
                        <a class="menu" href="#enwsiako_dikaio">Ενωσιακό δίκαιο (πεδίο 25)</a>
                    </li>
                    <li>
                        <a class="menu" href="#diatakseis_diethnwn_sumfwniwn">Συναφείς διατάξεις διεθνών συνθηκών ή
                            συμφωνιών (πεδίο 26)</a>
                     </li>
                    <li>
                        <a class="menu" href="#nomologia_diethnwn_dikastiriwn">Συναφής νομολογία των ανωτάτων και άλλων
                            εθνικών δικαστηρίων, καθώς και αποφάσεις Ανεξάρτητων Αρχών (πεδίο 27)</a>
                     </li>
                    <li>
                        <a class="menu" href="#diethnis_nomologia">Συναφής ευρωπαϊκή και διεθνής νομολογία (πεδίο
                            28)</a>
                     </li>
                </ul> 
            </div>
        </details>
        <details class="govgr-details">
            <summary class="govgr-details__summary"> <b>Ζ. Πίνακας τροποποιούμενων ή καταργούμενων διατάξεων</b>
            </summary>
            <div class="govgr-details__summary-text">
                 <ul
                    class="govgr-list govgr-list--bullet pinakas_tropopoioymenwn_katargoymenwn_diataksewn_menu progressbar">
                    <li>
                        <a class="menu" href="#tropopoiisi_diataksewn">Τροποποίηση – αντικατάσταση – συμπλήρωση
                            διατάξεων (πεδίο 29)</a>
                     </li>
                    <li>
                        <a class="menu" href="#katargisi_diataksewn">Κατάργηση διατάξεων (πεδίο 30)</a>
                 </li>
                </ul> 
            </div>
        </details>
        <details class="govgr-details">
            <summary class="govgr-details__summary"> <b>Η. Έκθεση εφαρμογής της ρύθμισης</b>
            </summary>
            <div class="govgr-details__summary-text">
                 <ul class="govgr-list govgr-list--bullet ekthesi_efarmogis_rythmisis_menu progressbar">
                    <li> 
                        <a class="menu" href="#sunarmodioi_foreis">Συναρμοδιότητα Υπουργείων / υπηρεσιών / φορέων (πεδίο
                            31)</a>
                     </li>
                    <li>
                        <a class="menu" href="#ekdosi_egkukliwn">Έκδοση κανονιστικών πράξεων και εγκυκλίων (πεδία
                            32)</a>
                    </li>
                    <li>
                        <a class="menu" href="#sustasi_etairias">Ανάγκη σύστασης νέου νομικού προσώπου, ανώνυμης
                            εταιρίας ή δημόσιας υπηρεσίας (πεδία 33-36)</a>
                    </li>
                    <li>
                        <a class="menu" href="#stoixeia_etairias">Στοιχεία νέου νομικού προσώπου, ανώνυμης εταιρίας ή
                            δημόσιας υπηρεσίας (πεδία 37-40)</a>
                    </li>
                </ul> 
            </div>
        </details>
    </div>
</div>
