<div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-4">
    <div class="jss111">
        <div class="jss274">
            <h3 class="jss273 jss178 jss181">Πίνακας έκθεσης</h3>
            <ul class="arxiki_list">
                <li>
                    <h4><b>Αρχική σελίδα</b></h4>
                </li>
                <ul class="arxiki_menu progressbar">
                    <li class="active"><a class="menu" href="#arxiki">Τίτλος αξιολογούμενης ρύθμισης & τομείς νομοθέτησης</a></li>
                </ul>
            </ul>
            <ul class="aitiologiki_list">
                <li>
                    <h4><b>Αιτιολογική έκθεση</b></h4>
                </li>
                <ul class="aitiologiki_menu progressbar">
                    <li><a class="menu" href="#tautotita_ruthmisis">Η «ταυτότητα» της αξιολογούμενης ρύθμισης</a></li>
                    <li><a class="menu" href="#anagkaiotita_rythmisis_1">Η αναγκαιότητα της αξιολογούμενης ρύθμισης(i)</a></li>
                    <li><a class="menu" href="#anagkaiotita_rythmisis_2">Η αναγκαιότητα της αξιολογούμενης ρύθμισης(ii)</a></li>
                    <li><a class="menu" href="#sunafeis_praktikes">Συναφείς πρακτικές</a></li>
                    <li><a class="menu" href="#stoxoi_ruthmisis">Στόχοι αξιολογούμενης ρύθμισης</a></li>
                    <li><a class="menu" href="#eidikoteroi_stoxoi_analogws_tomea">Ειδικότεροι στόχοι ανάλογα με τον τομέα νομοθέτησης</a></li>
                    <li><a class="menu" href="#digital_governance">Ψηφιακή διακυβέρνηση</a></li>
                    <li><a class="menu" href="#kat_arthro_analusi">Κατ’ άρθρο ανάλυση αξιολογούμενης ρύθμισης</a></li>
                </ul>
            </ul>
            <ul class="ekthesi_syntagmatos_list">
                <li>
                    <h4><b>Έκθεση του άρθρου 75 παρ. 1 και 2 του Συντάγματος</b></h4>
                </li>
                <ul class="ekthesi_syntagmatos_menu progressbar">
                    <li><a class="menu" href="#ekthesi_genikou_logistiriou"> Έκθεση Γενικού Λογιστηρίου του Κράτους</a></li>
                    <li><a class="menu" href="#oikonomika_apotelesmata_proupologismwn">Οικονομικά αποτελέσματα επί του Κρατικού Προϋπολογισμού ή/και επί του
                        προϋπολογισμού του/των αρμόδιου/ων φορέα/ων</a></li>
                </ul>
            </ul>
            <ul class="eidiki_ekthesi_list">
                <li>
                    <h4><b>Ειδική Έκθεση (άρθρο 75 παρ. 3 του Συντάγματος)
                        </b></h4>
                </li>
                <ul class="eidiki_ekthesi_menu progressbar">
                    <li><a class="menu" href="#oikonomika_apotelesmata">Οικονομικά αποτελέσματα</a></li>
                </ul>
            </ul>
            <ul class="ekthesi_genikwn_synepeiwn_list">
                <li>
                    <h4><b>Έκθεση γενικών συνεπειών</b></h4>
                </li>
                <ul class="ekthesi_genikwn_synepeiwn_menu progressbar">
                    <li><a class="menu" href="#ofeli_rythmisis">Οφέλη αξιολογούμενης ρύθμισης</a></li>
                    <li><a class="menu" href="#kostos_rythmisis">Κόστος αξιολογούμενης ρύθμισης</a></li>
                    <li><a class="menu" href="#kindynoi_rythmisis">Κόστος αξιολογούμενης ρύθμισης</a></li>
                    <li><a class="menu" href="#porismata">Γνώμες ή πορίσματα αρμόδιων υπηρεσιών και ανεξάρτητων αρχών</a></li>
                </ul>
            </ul>
            <ul class="ekthesi_diavouleusis_list">
                <li>
                    <h4><b>Έκθεση διαβούλευσης</b></h4>
                </li>
                <ul class="ekthesi_diavouleusis_menu progressbar">
                    <li><a class="menu" href="#diavouleusi_nomoparaskeuastikis">Διαβούλευση κατά τη διάρκεια της νομοπαρασκευαστικής διαδικασίας
                        από την έναρξη κατάρτισης της αξιολογούμενης ρύθμισης μέχρι την
                        υπογραφή από τους συναρμόδιους Υπουργούς</a></li>
                    <li><a class="menu" href="#sxolia_diavouleusis">Σχόλια στο πλαίσιο της διαβούλευσης μέσω της ηλεκτρονικής πλατφόρμας
                        www.opengov.gr</a></li>
                </ul>
            </ul>
            <ul class="ekthesi_nomimotitas_list">
                <li>
                    <h4><b>Έκθεση νομιμότητας</b></h4>
                </li>
                <ul class="ekthesi_nomimotitas_menu progressbar">
                    <li><a class="menu" href="#sunafeis_diatakseis">Συναφείς συνταγματικές διατάξεις</a></li>
                    <li><a class="menu" href="#enwsiako_dikaio">Ενωσιακό δίκαιο</a></li>
                    <li><a class="menu" href="#diatakseis_diethnwn_sumfwniwn">Συναφείς διατάξεις διεθνών συνθηκών ή συμφωνιών</a></li>
                    <li><a class="menu" href="#nomologia_diethnwn_dikastiriwn">Συναφής νομολογία των ανωτάτων και άλλων εθνικών δικαστηρίων,
                        καθώς και αποφάσεις των Ανεξάρτητων Αρχών</a></li>
                    <li><a class="menu" href="#diethnis_nomologia">Συναφής ευρωπαϊκή και διεθνής νομολογία</a></li>
                </ul>
            </ul>
            <ul class="pinakas_tropopoioymenwn_katargoymenwn_diataksewn_list">
                <li>
                    <h4><b>Πίνακας τροποποιούμενων ή καταργούμενων διατάξεων</b></h4>
                </li>
                <ul class="pinakas_tropopoioymenwn_katargoymenwn_diataksewn_menu progressbar">
                    <li><a class="menu" href="#tropopoiisi_diataksewn">Τροποποίηση – αντικατάσταση – συμπλήρωση διατάξεων</a></li>
                    <li><a class="menu" href="#katargisi_diataksewn">Κατάργηση διατάξεων</a></li>
                </ul>
            </ul>
            <ul class="ekthesi_efarmogis_rythmisis_list">
                <li>
                    <h4><b>Έκθεση εφαρμογής της ρύθμισης</b></h4>
                </li>
                <ul class="ekthesi_efarmogis_rythmisis_menu progressbar">
                    <li><a class="menu" href="#sunarmodioi_foreis">Συναρμοδιότητα Υπουργείων / υπηρεσιών / φορέων</a></li>
                    <li><a class="menu" href="#ekdosi_egkukliwn">Έκδοση κανονιστικών πράξεων και εγκυκλίων</a></li>
                    <li><a class="menu" href="#sustasi_etairias">Ανάγκη σύστασης νέου νομικού προσώπου, ανώνυμης εταιρίας ή δημόσιας
                        υπηρεσίας</a></li>
                    <li><a class="menu" href="#stoixeia_etairias">Στοιχεία νέου νομικού προσώπου, ανώνυμης εταιρίας ή δημόσιας
                            υπηρεσίας</a></li>
                </ul>
            </ul>
        </div>
    </div>
</div>