:root {
    --primary-color: #013375;
}

h1 {
    @apply govgr-heading-xl
    /*font-size: 3rem;*/
;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.775rem;
}

h4 {
    font-size: 1.4rem;
}

h5 {
    font-size: 1.1875rem;
}

h6 {
    font-size: 1.1475rem;
}

/* a {
 color:#003476;
 text-decoration:none;
 background-color:transparent
}
a:hover {
 color:#00122a;
 text-decoration:underline
}
for hover ----.link {
  text-decoration: underline solid #003476 2px;
} */
@media (min-width:768px) {
    .govgr-main-wrapper-4 {
        display: grid;
        grid-template-columns: repeat(4,minmax(0,1fr)) ;
        gap: 3rem ;
    }
}

.govgr-grid-column-2-4 {
    grid-column: span 2 / span 2 ;
    display: flex;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    flex-direction: row;
    flex-wrap: wrap;
}

.govgr-grid-column-three-thirds {
    grid-column: 1 / 4;
}

.govgr-header-logo {
    border-right: 1px solid #fff;
}

.govgr-heading-l {
    margin-top: 2rem;
}

.govgr-heading-m {
    margin-top: 1rem;
}

.govgr-heading-s {
    margin-top: 1rem;
}

.govgr-heading-xs {
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}

.govgr-heading-xl {
    /* margin-left: 0;
    margin-right: 0;
    margin-bottom: 2rem; */
    max-width: 49rem;

    /* font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
    line-height: 1.25; */
}

@media (min-width:768px){
    .govgr-heading-xl {
        font-size: 3rem;
        line-height: 1;
        line-height: 1.25;
    }
}

/* @media (min-width:1024px){
    .govgr-heading-xl {
        margin-bottom: 3.5rem;
    }
} */
.govgr-section-break--m {
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

@media (min-width:768px) {
    .govgr-footer {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .govgr-label-row {
        flex-direction: row;
    }

    .govgr-btn-cta .govgr-arrow--left {
        fill: #fff;
        display: inline-block;
        height: 1rem;
        width: 1rem;
        transition-property: all;
        transition-timing-function: cubic-bezier(.4,0,.2,1);
        transition-duration: .15s;
    }

    .govgr-btn-cta:hover .govgr-arrow--left {
        margin-right: .5rem;
        margin-left: -.5rem;
    }

    .govgr-horizontal-nav__container {
        max-width: 80rem;
    }

    .govgr-accordion__section .govgr-accordion__section-content {
        display: block!important;
        max-height: 0!important;
        overflow: hidden;
        padding: 0;
        transition: max-height 0.4s cubic-bezier(0, 1, 0, 1), padding 0.2s cubic-bezier(0, 1, 0, 1);
    }

    .govgr-accordion__section.govgr-accordion__section-selected .govgr-accordion__section-content {
        max-height: 700px!important;
        position: relative;
        padding: 0.5rem 0;
        transition: max-height 0.8s ease-in-out, padding 0.4s cubic-bezier(0, 1, 0, 1);
    }

    /* Accordion */
    .govgr-accordion .govgr-accordion__section-button {
        /* Needed to fix displaced accordion button */
        position: relative;
    }

    /* Divider */
    .govgr-divider-m {
        height: 1rem;
        width: 100;
    }

    .govgr-divider-l {
        height: 2rem;
        width: 100;
        border-top: 5px solid #003375;
    }

    /* Breadcrumbs */
    .govgr-breadcrumbs {
        margin-top: 0;
    }

    /* mt */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }

    .dropdown-content a:hover {
        background-color: #f1f1f1;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    /* mt */
    /* divider */
    .govgr-divider-red {
        border-top: 5px solid #d4351c;
    }

    .govgr-heading-s-blue {
        font-style: #07375f;
    }

    .img_right_center {
        vertical-align: middle;
    }

    .column_align_center {
        align-self: center;
    }

    /* Instead of position:sticky for the element (eg. image) not to follow the scrolling to the bottom */
    .govgr-grid-column-one-third {
        position: static;

        /* position: relative; */
    }

    /* Smaller body font for big screens */
    @media (min-width:1024px) {
        body,
        .pg-main-cs-2 {
            font-size: 1rem;
            line-height: 1.5rem;
        }
    }

    body {
        background-color: #fafafa;
    }

    /* GovGR width-container max-width 64rem fix for big screens */
    .govgr-width-container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        max-width: 80rem;

        /* 1280px */
        padding: 2rem 1rem;
    }

    /* .govgr-width-container {
    max-width: 64rem;
    padding: 2rem 1rem;
} */
    /* GovGR Header-container max-width 64rem fix for big screens */
    .govgr-header__container {
        display: flex;
        max-width: 80rem;
        align-items: center;
        justify-content: space-between;
        padding: .5rem 1rem;
    }

    /* Header height extra-same as .govgr-header */
    .govgr-header__container {
        line-height: 3rem;
    }

    .govgr-breadcrumbs {
        background-color: #f5f5f6 !important;
        font-size: 0.8rem;
        line-height: 1.5rem;
    }

    .govgr-breadcrumbs-width-container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        max-width: 80rem;

        /* 1280px */
        padding: 0.2rem 1rem;
    }

    /* Vertical Menu-Navigation List Docusaurus */
    .menu__list {
        list-style: none;
        margin: 0;
        padding-left: 0;
    }

    .menu__caret,
    .menu__link {
        padding: var(--ifm-menu-link-padding-vertical) var(--ifm-menu-link-padding-horizontal);
    }

    .menu__list .menu__list {
        flex: 0 0 100%;
        margin-top: .25rem;
        padding-left: var(--ifm-menu-link-padding-horizontal);
    }

    .menu__list-item:not(:first-child) {
        margin-top: .25rem;
    }

    .menu__link--active:not(.menu__link--sublist) {
        background: var(--ifm-menu-color-background-active);
    }

    .menu__list-item--collapsed .menu__list {
        height: 0;
        overflow: hidden;
    }

    .details_BQq3[data-collapsed=false].isBrowser_Dtis>summary:before,
    .details_BQq3[open]:not(.isBrowser_Dtis)>summary:before,
    .details_dB\+P[data-collapsed=false].isBrowser_4yor>summary:before,
    .details_dB\+P[open]:not(.isBrowser_4yor)>summary:before,
    .menu__list-item--collapsed .menu__caret:before,
    .menu__list-item--collapsed .menu__link--sublist:after {
        transform: rotate(90deg);
    }

    .menu__list-item-collapsible {
        display: flex;
        flex-wrap: wrap;
        position: relative;
    }

    .menu__caret:hover,
    .menu__link:hover,
    .menu__list-item-collapsible--active,
    .menu__list-item-collapsible:hover {
        background: var(--ifm-menu-color-background-hover);
    }

    .menu__list-item-collapsible .menu__link--active,
    .menu__list-item-collapsible .menu__link:hover {
        background: none!important;
    }

    .menu__caret,
    .menu__link {
        display: flex;
    }

    .menu__link {
        color: var(--ifm-menu-color);
        flex: 1;
        justify-content: space-between;
        line-height: 1.25;
    }

    .menu__link:hover {
        color: var(--ifm-menu-color);
        text-decoration: none;
    }

    .menu__caret:before,
    .menu__link--sublist:after {
        height: 1.25rem;
        transform: rotate(180deg);
        transition: transform var(--ifm-transition-fast) linear;
        width: 1.25rem;
        content: "";
        filter: var(--ifm-menu-link-sublist-icon-filter);
    }

    .menu__link--sublist:after {
        background: var(--ifm-menu-link-sublist-icon) 50%/2rem 2rem;
        min-width: 1.25rem;
    }

    .menu__link--active,
    .menu__link--active:hover {
        color: var(--ifm-menu-color-active);
    }

    @media (pointer:fine) {
        .thin-scrollbar {
            scrollbar-width: thin;
        }

        .thin-scrollbar::-webkit-scrollbar {
            height: var(--ifm-scrollbar-size);
            width: var(--ifm-scrollbar-size);
        }

        .thin-scrollbar::-webkit-scrollbar-track {
            background: var(--ifm-scrollbar-track-background-color);
            border-radius: 10px;
        }

        .thin-scrollbar::-webkit-scrollbar-thumb {
            background: var(--ifm-scrollbar-thumb-background-color);
            border-radius: 10px;
        }

        .thin-scrollbar::-webkit-scrollbar-thumb:hover {
            background: var(--ifm-scrollbar-thumb-hover-background-color);
        }

        /* statistics */
        .Statistics-Wrapper {
            box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.075);
            -webkit-box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.075);
        }

        .Statistics-Wrapper-Inner {
            background-color: #fff;
            padding: 1rem;
            background: #fff;
            box-shadow: inset 12px 0px 0 0 #00aeef;
            padding-left: 1.6rem;

            @media screen and (min-width: 576px){
                box-shadow: inset 20px 0px 0 0 #00aeef;
                padding-left: 2.5rem;
            }
        }

        .Statistics-Wrapper-Inner-blue {
            background-color: #fff;
            padding: 1rem;
            background: #fff;
            box-shadow: inset 12px 0px 0 0 #00aeef;
            padding-left: 1.6rem;

            @media screen and (min-width: 576px){
                box-shadow: inset 20px 0px 0 0 #00aeef;
                padding-left: 2.5rem;
            }
        }

        .Statistics-Wrapper-Inner-dark-blue {
            background-color: #fff;
            padding: 1rem;
            background: #fff;
            box-shadow: inset 12px 0px 0 0 #003476;
            padding-left: 1.6rem;

            @media screen and (min-width: 576px){
                box-shadow: inset 20px 0px 0 0 #00aeef;
                padding-left: 2.5rem;
            }
        }

        .Statistics-Wrapper-Inner-green {
            background-color: #fff;
            padding: 1rem;
            background: #fff;
            box-shadow: inset 12px 0px 0 0 green;
            padding-left: 1.6rem;

            @media screen and (min-width: 576px){
                box-shadow: inset 20px 0px 0 0 #00aeef;
                padding-left: 2.5rem;
            }
        }

        .Statistics-Wrapper-Inner-orange {
            background-color: #fff;
            padding: 1rem;
            background: #fff;
            box-shadow: inset 12px 0px 0 0 orange;
            padding-left: 1.6rem;

            @media screen and (min-width: 576px){
                box-shadow: inset 20px 0px 0 0 #00aeef;
                padding-left: 2.5rem;
            }
        }

        .Statistics-Title {
            font-weight: 700;

            @media screen and (min-width: 992px){
                font-size: var(--h3-alt-font-size)!important;
            }
        }

        .Statistics-LoadingSpinner {
            height: 140px;

            @include media-breakpoint-up(md){
            }
        }

        /* Custom Cards belg */
        .card {
            box-shadow: 0 1.5px 4px rgba(0,0,0,0.24),0 1.5px 6px rgba(0,0,0,0.12);
            border: 0!important;
            border-radius: 0!important;
            transition: all 300ms ease-in-out;
        }

        .card:hover {
            box-shadow: 0 6px 12px rgba(0,0,0,0.23),0 10px 40px rgba(0,0,0,0.19);
        }

        .card a,
        .card i {
            color: #195065;
        }

        .card .card-img-top img {
            margin-top: 1.875rem;
        }

        .card {
            position: relative;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid rgba(0,0,0,.125);
            border-radius: .25rem;
        }

        .card>hr {
            margin-right: 0;
            margin-left: 0;
        }

        .card>.list-group {
            border-top: inherit;
            border-bottom: inherit;
        }

        .card>.list-group:first-child {
            border-top-width: 0;
            border-top-left-radius: calc(.25rem - 1px);
            border-top-right-radius: calc(.25rem - 1px);
        }

        .card>.list-group:last-child {
            border-bottom-width: 0;
            border-bottom-right-radius: calc(.25rem - 1px);
            border-bottom-left-radius: calc(.25rem - 1px);
        }

        .card>.card-header+.list-group,
        .card>.list-group+.card-footer {
            border-top: 0;
        }

        .card-body {
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            min-height: 1px;
            padding: 1.25rem;
        }

        .card-title {
            margin-bottom: .75rem;
        }

        .card-subtitle {
            margin-top: -.375rem;
            margin-bottom: 0;
        }

        .card-text:last-child {
            margin-bottom: 0;
        }

        .card-link:hover {
            text-decoration: none;
        }

        .card-link+.card-link {
            margin-left: 1.25rem;
        }

        .card-header {
            padding: .75rem 1.25rem;
            margin-bottom: 0;
            background-color: rgba(0,0,0,.03);
            border-bottom: 1px solid rgba(0,0,0,.125);
        }

        .card-header:first-child {
            border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
        }

        .card-footer {
            padding: .75rem 1.25rem;
            background-color: rgba(0,0,0,.03);
            border-top: 1px solid rgba(0,0,0,.125);
        }

        .card-footer:last-child {
            border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
        }

        .card-header-tabs {
            margin-right: -.625rem;
            margin-bottom: -.75rem;
            margin-left: -.625rem;
            border-bottom: 0;
        }

        .card-header-pills {
            margin-right: -.625rem;
            margin-left: -.625rem;
        }

        .card-img-overlay {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            padding: 1.25rem;
            border-radius: calc(.25rem - 1px);
        }

        .card-img,
        .card-img-bottom,
        .card-img-top {
            -ms-flex-negative: 0;
            flex-shrink: 0;
            width: 100%;
        }

        .card-img,
        .card-img-top {
            border-top-left-radius: calc(.25rem - 1px);
            border-top-right-radius: calc(.25rem - 1px);
        }

        .card-img,
        .card-img-bottom {
            border-bottom-right-radius: calc(.25rem - 1px);
            border-bottom-left-radius: calc(.25rem - 1px);
        }

        .card-deck .card {
            margin-bottom: 15px;
        }

        @media (min-width:576px) {
            .card-deck {
                display: -ms-flexbox;
                display: flex;
                -ms-flex-flow: row wrap;
                flex-flow: row wrap;
                margin-right: -15px;
                margin-left: -15px;
            }

            .card-deck .card {
                -ms-flex: 1 0 0%;
                flex: 1 0 0%;
                margin-right: 15px;
                margin-bottom: 0;
                margin-left: 15px;
            }
        }

        .card-group>.card {
            margin-bottom: 15px;
        }

        @media (min-width:576px) {
            .card-group {
                display: -ms-flexbox;
                display: flex;
                -ms-flex-flow: row wrap;
                flex-flow: row wrap;
            }

            .card-group>.card {
                -ms-flex: 1 0 0%;
                flex: 1 0 0%;
                margin-bottom: 0;
            }

            .card-group>.card+.card {
                margin-left: 0;
                border-left: 0;
            }

            .card-group>.card:not(:last-child) {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            .card-group>.card:not(:last-child) .card-header,
            .card-group>.card:not(:last-child) .card-img-top {
                border-top-right-radius: 0;
            }

            .card-group>.card:not(:last-child) .card-footer,
            .card-group>.card:not(:last-child) .card-img-bottom {
                border-bottom-right-radius: 0;
            }

            .card-group>.card:not(:first-child) {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }

            .card-group>.card:not(:first-child) .card-header,
            .card-group>.card:not(:first-child) .card-img-top {
                border-top-left-radius: 0;
            }

            .card-group>.card:not(:first-child) .card-footer,
            .card-group>.card:not(:first-child) .card-img-bottom {
                border-bottom-left-radius: 0;
            }
        }

        .card-columns .card {
            margin-bottom: .75rem;
        }

        @media (min-width:576px) {
            .card-columns {
                -webkit-column-count: 3;
                -moz-column-count: 3;
                column-count: 3;
                -webkit-column-gap: 1.25rem;
                -moz-column-gap: 1.25rem;
                column-gap: 1.25rem;
                orphans: 1;
                widows: 1;
            }

            .card-columns .card {
                display: inline-block;
                width: 100%;
            }
        }

        /* timeline */
        .history-tl-container ul.tl {
            padding: 0;
            display: inline-block;
        }

        .history-tl-container ul.tl li {
            list-style: none;
            margin: auto;
            min-height: 50px;
            border-left: 1px dashed #003476;
            padding: 0 0 50px 30px;
            position: relative;

            /* margin-bottom: 30px; */
        }

        .history-tl-container ul.tl li:last-child {
            border-left: 0;
        }

        .history-tl-container ul.tl li::before {
            position: absolute;
            left: -15px;
            top: 13px;
            content: " ";
            border: 8px solid rgba(255, 255, 255, 0.74);
            border-radius: 50%;
            background: #003476 /*var(--color)*/;
            height: 30px;
            width: 30px;
            transition: all 500ms ease-in-out;
        }

        .history-tl-container ul.tl li:last-child::before {
            top: 10px;
        }

        .history-tl-container ul.tl li {
            padding: 0 0 60px 30px!important;
        }

        .tl-item-title {
            font-weight: bold;

            /* govgr-!-font-weight-bold -mt-5 mb-1 */
        }

        .tl-item-excerpt {
            margin-bottom: 10px;

            /* w-full lg:w-3/4 hover:underline */
        }

        .govgr-notification-banner {
        }

        .govgr-notification-banner--orange {
            --tw-border-opacity: 1;
            border-color: darkorange ;

            /* hsla(var(--su,152 100% 22%)/var(--tw-border-opacity)); */
            --tw-bg-opacity: 1;
            background-color: darkorange ;

            /* hsla(var(--su,152 100% 22%)/var(--tw-bg-opacity)); */
        }

        /* Legend */
        .my-legend .legend-title {
            text-align: left;
            margin-bottom: 5px;
            font-weight: bold;
            font-size: 90%;
        }

        .my-legend .legend-scale ul {
            margin: 0;
            margin-bottom: 5px;
            padding: 0;
            float: left;
            list-style: none;
        }

        .my-legend .legend-scale ul li {
            font-size: 80%;
            list-style: none;
            margin-left: 0;
            line-height: 18px;
            margin-bottom: 2px;
        }

        .my-legend ul.legend-labels li span {
            display: block;
            float: left;
            height: 16px;
            width: 30px;
            margin-right: 5px;
            margin-left: 0;
            border: 1px solid #999;
        }

        .my-legend .legend-source {
            font-size: 70%;
            color: #999;
            clear: both;
        }

        .my-legend a {
            color: #777;
        }
    }
}