<%- include('../partials/head.ejs') %>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

<div class="MuiContainer-root jss110 MuiContainer-maxWidthLg">
  <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-4">
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-8">
      <br><br>

      <p>Ως διαχειριστής του συστήματος μπορείτε, επιλέγοντας τον αντίστοιχο σύνδεσμο, να: <br>
        <ul>
          <li>Διαχειριστείτε τους χρήστες και ρόλους του συστήματος </li>
          <li>Να δείτε συγκεντρωτικά στοιχεία για τις εκθέσεις που έχουν καταχωρηθεί</li>
          <li>Να δείτε και να επεξεργαστείτε καταχωρημένες εκθέσεις</li>
        </ul>
        
      </p>

    </div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-4">
      <div class="jss111">
        <div class="jss274">
          <h3 class="jss273 jss178 jss181">Χρήσιμοι Σύνδεσμοι</h3>
          <ul class="jss275" id="progressbar">
            <h4 class="jss276 jss178 jss181">Διαχείριση Χρηστών:</h4>
            <li><a href="./create_user">Δημιουργία νέου χρήστη</a></li>
            <li><a href="./search_user">Επεξεργασία στοιχείων χρήστη</a></li>
            <li><a href="./user_profile">Τα στοιχεία μου</a></li>
          </ul>
          <ul>
            <h4 class="jss276 jss178 jss181">Διαχείριση Εκθέσεων</h4>
            <li><a href="./summaries">Συνοπτικά στοιχεία</a></li>
            <li><a href="./history">Ιστορικό</a></li>
          </ul>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../partials/footer.ejs') %>
</div>

<style>

    a {
      color: blue;
    }
    

</style>

<script>
  $(document).ready(function () {
    $('#data').DataTable();
  });
</script>
</body>

</html>