<%- include('../partials/head.ejs') %>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

<div class="MuiContainer-root jss110 MuiContainer-maxWidthLg">
    <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-4">
        
        <form>
            <h1>Δημιουργία νέου χρήστη</h1>
            <br>

            <div class="form-group">
                <label for="fname">Όνομα χρήστη:</label>
                <input type="text" size="5" id="fname" name="fname" placeholder="Όνομα χρήστη" required />
            </div>
            <hr>

            <div class="form-group">
                <label for="lname">Επώνυμο χρήστη:</label>
                <input type="text" size="5" id="lname" name="lname" placeholder="Επώνυμο χρήστη" required /> 
            </div>
            <hr>

            <div class="form-group">
                <label for="username">Username χρήστη:</label>
                <input type="text" size="5" id="username" name="username" placeholder="Username" required /> 
            </div>
            <hr>

            <div class="form-group">
                <label for="password">Κωδικός πρόσβασης χρήστη:</label>
                <input type="password" size="5" id="password" name="password" placeholder="Κωδικός πρόσβασης" required /> 
            </div>

            <div class="form-group">
                <label for="password">Επανάληψη κωδικού πρόσβασης χρήστη:</label>
                <input type="password" size="5" id="repeat_password" name="repeat_password" placeholder="Επανάληψη κωδικού πρόσβασης" required /> 
            </div>
            <hr>

            <div class="form-group">
                <label for="ypoyrgeio">Υπουργείο:</label>
                <input type="text" size="5" id="ypoyrgeio" name="ypoyrgeio" placeholder="Υπουργείο" /> 
            </div>
            <hr>

            <div class="checkbox-group form-group row">
                <label for="rolos" class="col-sm-2 col-form-label">Ρόλος: </label>
                <select id="rolos" name="rolos" class="col-sm-2 form-control">
                    <option selected disabled>Eπιλογή</option>
                    <option value="syntaktis">Συντάκτης</option>
                    <option value="ggnkth" >ΓΓΝΚΘ</option>
                    <option value="syntonismos_ypoyrgeiwn" >Υπηρεσία Συντονισμού Υπουργείου</option>
                    <option value="nomoparaskeyastiki" >Ρόλος Νομοπαρασκευαστική Επιτροπή</option>
                    <option value="opengov" >Opengov</option>
                    <option value="geniko_logistirio" >Γενικό Λογιστήριο του Κράτους</option>
                    <option value="epitropi_poiotitas" >Επιτροπή Αξιολόγησης Ποιότητας</option>
                    <option value="vouli" >Βουλή</option>
                </select>
            </div>
            <br><hr>

            <div class="checkbox-group form-group row">
                <label for="dikaiwmata_diaxeirisis" class="col-sm-8 col-form-label">Ο χρήστης έχει δικαιώματα διαχείρισης:</label>
                <input class="col-sm-2 form-check-input position-static" type="checkbox" id="dikaiwmata_diaxeirisis" name="dikaiwmata_diaxeirisis" value="dikaiwmata_diaxeirisis">
            </div>
            <hr>
            
            <input type="submit" name="create_new" class="action-button" value="Δημιουργία"/>
            
        </form>
        <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-4">
            <div class="jss111">
              <div class="jss274">
                <h3 class="jss273 jss178 jss181">Χρήσιμοι Σύνδεσμοι</h3>
                <ul class="jss275" id="progressbar">
                  <h4 class="jss276 jss178 jss181">Διαχείριση Χρηστών:</h4>
                  <li><a href="./create_user">Δημιουργία νέου χρήστη</a></li>
                  <li><a href="./search_user">Επεξεργασία στοιχείων χρήστη</a></li>
                  <li><a href="./user_profile">Τα στοιχεία μου</a></li>
                </ul>
                <ul>
                  <h4 class="jss276 jss178 jss181">Διαχείριση Εκθέσεων</h4>
                  <li><a href="./summaries">Συνοπτικά στοιχεία</a></li>
                  <li><a href="./history">Ιστορικό</a></li>
                </ul>
                </ul>
              </div>
            </div>
          </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>
</div>

<style>
    body {
      font-family: Arial, Helvetica, sans-serif;
      background-color: white;
    }
    
    * {
      box-sizing: border-box;
    }
    
    /* Add padding to containers */
    .container {
      padding: 16px;
      background-color: black;
    }
    
    /* Full-width input fields */
    input[type=text], input[type=password] {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: 2px solid #ccc;
      border-radius: 4px;
      background: #f1f1f1;
    }
    
    input[type=text]:focus, input[type=password]:focus {
      background-color: #ddd;
      outline: none;
    }
    
    /* Overwrite default styles of hr */
    hr {
      border: 1px solid #f1f1f1;
      margin-bottom: 25px;
    }

    .flex-form-group {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .checkbox-group {
        display: flex;
        align-items: center;
    }

    .form-check-input {
        margin-top: 0px;
    }

    label {
        font-weight: 700;
    }

    .action-button {font-size: 16px;}

    a {
      color: blue;
    }

</style>

<script>

$("form").on("submit",function(ev){
    ev.preventDefault();
    console.log($(this).serialize())//comment this line out to hide query wrote in db
    $.ajax({
        url: '/user_views/create_user',
        data:$(this).serialize(),
        error: function(error) {
            console.log(error)
        },
        success: function(data) {
            console.log(data)
            window.location.href="./admin_dashboard"
        },
        type: 'POST'
    });
})

</script>
</body>

</html>