<%- include('../partials/head.ejs') %>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

<div class="MuiContainer-root jss110 MuiContainer-maxWidthLg">
    <br>
    <input type="button" name="back" class="back" value="Πίσω"/>
    <br>
    <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-4">
        
        <form>
            <h1>Δημιουργία νέου χρήστη</h1>
            <br>

            <div class="form-group">
                <label for="fname">Όνομα χρήστη:</label>
                <input type="text" size="10" id="fname" name="fname" placeholder="Όνομα χρήστη" required />
            </div>
            <hr>

            <div class="form-group">
                <label for="lname">Επώνυμο χρήστη:</label>
                <input type="text" size="10" id="lname" name="lname" placeholder="Επώνυμο χρήστη" required /> 
            </div>
            <hr>

            <div class="form-group">
                <label for="username">Username χρήστη:</label>
                <input type="text" size="10" id="username" name="username" placeholder="Username" required /> 
            </div>
            <hr>

            <div class="form-group">
                <label for="password">Κωδικός πρόσβασης χρήστη:</label>
                <input type="password" size="10" id="password" name="password" placeholder="Κωδικός πρόσβασης" required /> 
            </div>

            <div class="form-group">
                <label for="password">Επανάληψη κωδικού πρόσβασης χρήστη:</label>
                <input type="password" size="10" id="repeat_password" name="repeat_password" placeholder="Επανάληψη κωδικού πρόσβασης" required /> 
            </div>
            <hr>

            <div class="form-group">
                <label for="ypoyrgeio">Υπουργείο:</label>
                <input type="text" size="10" id="ypoyrgeio" name="ypoyrgeio" placeholder="Υπουργείο" /> 
            </div>
            <hr>

            <div class="checkbox-group form-group row">
                <label for="rolos" class="col-sm-2 col-form-label">Ρόλος: </label>
                <select id="rolos" name="rolos" class="col-sm-2 form-control">
                    <option selected disabled>Eπιλογή</option>
                    <option value="Συντάκτης επισπεύδοντος Υπουργείου">Συντάκτης επισπεύδοντος Υπουργείου</option>
                    <option value="Αρμόδιος επισπεύδοντος Υπουργείου και άλλων συναρμόδιων Υπουργείων">Αρμόδιος επισπεύδοντος Υπουργείου και άλλων συναρμόδιων Υπουργείων</option>
                    <option value="Βουλευτής" >Βουλευτής</option>
                    <option value="Νομοπαρασκευαστική Επιτροπή (ΓΓΝΚΘ)" >Νομοπαρασκευαστική Επιτροπή (ΓΓΝΚΘ)</option>
                    <option value="Γενικό Λογιστήριο του Κράτους" >Γενικό Λογιστήριο του Κράτους</option>
                    <option value="Επιτροπή Αξιολόγησης Ποιότητας της Νομοπαρασκευαστικής Διαδικασίας (ΓΓΝΚΘ)" >Επιτροπή Αξιολόγησης Ποιότητας της Νομοπαρασκευαστικής Διαδικασίας (ΓΓΝΚΘ)</option>
                    <option value="Γραφείο Καλής Νομοθέτησης (ΓΓΝΚΘ)" >Γραφείο Καλής Νομοθέτησης (ΓΓΝΚΘ)</option>
                    <option value="Διεύθυνση Νομοπαρασκευαστικής Διαδικασίας (ΓΓΝΚΘ)" >Διεύθυνση Νομοπαρασκευαστικής Διαδικασίας (ΓΓΝΚΘ)</option>
                    <option value="Γενικός Γραμματέας Νομικών και Κοινοβουλευτικών Θεμάτων" >Γενικός Γραμματέας Νομικών και Κοινοβουλευτικών Θεμάτων</option>
                    <option value="Βουλή" >Βουλή</option>
                </select>
            </div>
            <br><hr>

            <div class="checkbox-group form-group row">
                <label for="dikaiwmata_diaxeirisis" class="col-sm-8 col-form-label">Ο χρήστης έχει δικαιώματα διαχείρισης:</label>
                <input class="col-sm-2 form-check-input position-static" type="checkbox" id="dikaiwmata_diaxeirisis" name="dikaiwmata_diaxeirisis" value="dikaiwmata_diaxeirisis">
            </div>
            <hr>
            
            <input type="submit" name="create_new" class="action-button" value="Δημιουργία"/>            
        </form>
        
    </div>
</div>

<%- include('../partials/footer.ejs') %>
</div>

<style>
    body {
      font-family: Arial, Helvetica, sans-serif;
      background-color: white;
    }
    
    * {
      box-sizing: border-box;
    }
    
    /* Add padding to containers */
    .container {
      padding: 16px;
      background-color: black;
    }
    
    /* Full-width input fields */
    input[type=text], input[type=password] {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: 2px solid #ccc;
      border-radius: 4px;
      background: #f1f1f1;
    }
    
    input[type=text]:focus, input[type=password]:focus {
      background-color: #ddd;
      outline: none;
    }
    
    /* Overwrite default styles of hr */
    hr {
      border: 1px solid #f1f1f1;
      margin-bottom: 25px;
    }

    .flex-form-group {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .checkbox-group {
        display: flex;
        align-items: center;
    }

    .form-check-input {
        margin-top: 0px;
    }

    label {
        font-weight: 700;
    }

    .action-button, .back {font-size: 16px;}

    a {
      color: blue;
    }

</style>

<script>

$("form").on("submit",function(ev){
    ev.preventDefault();
    console.log($(this).serialize())//comment this line out to hide query wrote in db
    $.ajax({
        url: '/user_views/create_user',
        data:$(this).serialize(),
        error: function(error) {
            console.log(error)
        },
        success: function(data) {
            console.log(data)
            window.location.href="./admin_dashboard"
        },
        type: 'POST'
    });
});

$(".back").on("click",function(ev){
    window.location.href = "/user_views/admin_dashboard";
});

</script>
</body>

</html>