<div class="" id="menu">
  <h3 class="govgr-heading-m">Χρήσιμοι Σύνδεσμοι</h3>
  <h4 class="govgr-heading-s">Διαχείριση Χρηστών</h4>
  <nav class="govgr-vertical-nav" id="user_management">
    <a class="govgr-link govgr-vertical-nav__item govgr-vertical-nav__item--active admin" href="./create_user"> Δημιουργία
      νέου χρήστη</a><a class="govgr-link govgr-vertical-nav__item admin" href="./search_user"> Επεξεργασία στοιχείων
      χρήστη</a><a class="govgr-link govgr-vertical-nav__item" href="./profile" id="profile"> Τα Στοιχεία Μου</a>
  </nav>
  <h4 class="govgr-heading-s">Νέα Ανάλυση</h4>
  <nav class="govgr-vertical-nav" id="create_analysis"><a id="sxedio_nomoy" class="govgr-link govgr-vertical-nav__item"
      href="../create/:sxedio_nomou"> Σχέδιο νόμου</a><a id="prosxedio" class="govgr-link govgr-vertical-nav__item"
      href="../create/:prosxedio_nomou">Προσχέδιο νόμου</a><a id="kateythintiries"
      class="govgr-link govgr-vertical-nav__item" href="../create/:kateythintiries_grammes"> Κατευθυντήριες γραμμές</a>
    <a id="epeigon_katepeigon" class="govgr-link govgr-vertical-nav__item" href="../create/:epeigon_katepeigon"> Επείγον
      ή κατεπείγον νομοσχέδιο</a>
    <a id="protasi_nomoy" class="govgr-link govgr-vertical-nav__item vouleftis" href="../create/:protasi_nomou"> Πρόταση
      νόμου</a>
    <a id="diethneis_symvaseis" class="govgr-link govgr-vertical-nav__item" href="../create/:diethneis_symvaseis">
      Διεθνείς συμβάσεις</a>
    <a id="tropologies_ypourgwn" class="govgr-link govgr-vertical-nav__item" href="../create/:tropologies_upourgwn">
      Τροπολογίες Υπουργών</a>
    <a id="tropologies_vouleutwn" class="govgr-link govgr-vertical-nav__item vouleftis"
      href="../create/:tropologies_vouleutwn"> Τροπολογίες Βουλευτών</a>
  </nav>
  <h4 class="govgr-heading-s">Διαχείριση Πλατφόρμας</h4>
  <nav class="govgr-vertical-nav admin" id="edit_analysis">
    <a class="govgr-link govgr-vertical-nav__item" href="../create/:sxedio_nomou" id="ministries"> Επικαιροποίηση
      Υπουργείων</a>
  </nav>
  <h4 class="govgr-heading-s">Διαχείριση Αναλύσεων</h4>
  <nav class="govgr-vertical-nav" id="analysis_management">
    <a class="govgr-link govgr-vertical-nav__item admin" href="./summaries"> Συνοπτικά στοιχεία</a>
    <a class="govgr-link govgr-vertical-nav__item" href="./history">Ιστορικό</a>
  </nav>
  <h4 class="govgr-heading-s"><u>Παρατηρήσεις</u></h4>
  <p class="mb-10">Μπορείτε να στείλετε τις παρατηρήσεις σας στο <a
      href="mailto:impact-assessment@grnet.gr">impact-assessment@grnet.gr</a> </p> <br />
  <input type="button" name="exit" id="exit" class="govgr-btn govgr-btn-primary" value="Έξοδος" />
</div>
<script>
  $("#exit").on("click", function (ev) {
    ev.preventDefault();
    $.ajax({
      url: `/logout`,
      error: function (error) {
        console.log(error);
      },
      success: function (data) {
        window.location.href = "/login";
      },
      type: 'GET'
    });
  });

  $("#ministries").on("click", function (ev) {
    ev.preventDefault();
    $.ajax({
      url: `/ministries`,
      error: function (error) {
        console.log(error);
      },
      success: function (data) {
        window.location.href = "./dashboard";
      },
      type: 'POST'
    });
  });
</script>