<%- include('../partials/head.ejs') %>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
<script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>

<div class="MuiContainer-root jss110 MuiContainer-maxWidthLg">
  <div class="MuiGrid-root MuiGrid-container MuiGrid-spacing-xs-4">
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-8">
      <br><br>

      <p class="MuiTypography-root jss211 MuiTypography-body1">
        Ως χρήστης του συστήματος μπορείτε, επιλέγοντας τον αντίστοιχο σύνδεσμο, να: <br>
        <ul>
          <li>Διαχειριστείτε τα στοιχεία του προφίλ σας</li>
          <li>Να ξεκινήσετε μια νέα έκθεση</li>
          <li>Να δείτε τις καταχωρημένες εκθέσεις σε κάθε κατηγορία και να συνεχίσετε μια θεση που έχετε αποθηκεύσει προσωρινά</li>
        </ul>
      </p>

    </div>
    <div class="MuiGrid-root MuiGrid-item MuiGrid-grid-xs-12 MuiGrid-grid-md-4">
      <div class="jss111">
        <div class="jss274">
          <h3 class="jss273 jss178 jss181">Χρήσιμοι Σύνδεσμοι</h3>
          <ul class="jss275" id="profile">
            <h4 class="jss276 jss178 jss181">Το Προφίλ Μου:</h4>
            <li><a href="./user_profile">Τα Στοιχεία Μου</a></li>
          </ul>
          <ul class="jss275" id="edit_ekthesi">
            <h4 class="jss276 jss178 jss181">Επεξεργασία Εκθέσεων</h4>
            <li><a href="./history">Ιστορικό</a></li>
          </ul>
          <ul class="jss275" id="ekthesi">
            <h4 class="jss276 jss178 jss181">Νέα Έκθεση</h4>
            <li id="sxedio_nomoy"><a href="../create">Σχέδιο νόμου</a></li>
            <li id="prosxedio"><a href="../create">Προσχέδιο νόμου</a></li>
            <li id="kateythintiries"><a href="../create">Κατευθυντήριες γραμμές</a></li>
            <li id="epeigonta"><a href="../create">Επείγοντα και κατεπείγοντα νομοσχέδια</a></li>
            <li id="protasi_nomoy"><a href="../create">Πρόταση νόμου</a></li>
            <li id="diethneis_symvaseis"><a href="../create">Διεθνείς Συμβάσεις</a></li>
            <li id="tropologies"><a href="../create">Τροπολογίες (Υπουργών και Βουλευτών)</a></li>
          </ul>
        </div>
      </div>
      <input type="button" name="exit" class="exit float-right" value="Έξοδος"/>
    </div>
    
  </div>
</div>
<%- include('../partials/footer.ejs') %>
</div>

<style>

    a {
      color: blue;
    }
    
    .exit{ font-size: 16px; }
</style>

<script>
  $(document).ready(function () {
    $('#data').DataTable();
  });
  $(".exit").on("click",function(ev){
    
    window.location.href="/login"

  })

  var user_role = '<%= data.rolos %>';
  console.log(user_role)
  if (user_role == 'Βουλευτής') {
    document.getElementById("ekthesi").children[1].style.display = "none";
    document.getElementById("ekthesi").children[2].style.display = "none";
    document.getElementById("ekthesi").children[3].style.display = "none";
    document.getElementById("ekthesi").children[4].style.display = "none";
    document.getElementById("ekthesi").children[6].style.display = "none";    
  } else if (user_role == 'Βουλή') {
    document.getElementById("ekthesi").children[0].style.display = "none";
    document.getElementById("ekthesi").children[1].style.display = "none";
    document.getElementById("ekthesi").children[2].style.display = "none";
    document.getElementById("ekthesi").children[3].style.display = "none";
    document.getElementById("ekthesi").children[4].style.display = "none";
    document.getElementById("ekthesi").children[5].style.display = "none";
    document.getElementById("ekthesi").children[6].style.display = "none";
    document.getElementById("ekthesi").children[7].style.display = "none";
  } else if (user_role == 'Συντάκτης Υπουργείου') {
    document.getElementById("ekthesi").children[5].style.display = "none";
    document.getElementById("ekthesi").children[7].style.display = "none";
  }

</script>
</body>

</html>