<fieldset id="eidikoteroi_stoxoi_analogws_tomea" class="static-tables">

    <h5><label class="required govgr-heading-m">Ειδικότεροι στόχοι ανάλογα με τον τομέα νομοθέτησης (πεδίο 9)</label>
        <div class="index_field_9"></div>
    </h5>

    <table class="table ekpaideysi-politismos" id="ekpaideysi_table" style="display: none;">
        <thead class="thead">
            <tr>
                <th colspan="1">ΕΚΠΑΙΔΕΥΣΗ <div class="table-cell index_label"></div>
                </th>
                <th colspan="1">Εξέλιξη την τελευταία 5ετία <div class="table-cell index_five"></div>
                </th>
                <th colspan="1">Πρόσφατα στοιχεία<div class="table-cell index_recent"></div>
                </th>
                <th colspan="1">Επιδιωκόμενος στόχος (3ετία)<div class="table-cell index_three"></div>
                </th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

    <br>

    <table class="table oikonomia" id="oikonomia_table" style="display: none;">
        <thead class="thead">
            <tr>
                <th colspan="1">ΟΙΚΟΝΟΜΙΑ<div class="table-cell index_label"></div>
                </th>
                <th colspan="1">Εξέλιξη την τελευταία 5ετία<div class="table-cell index_five"></div>
                </th>
                <th colspan="1">Πρόσφατα στοιχεία<div class="table-cell index_recent"></div>
                </th>
                <th colspan="1">Επιδιωκόμενος στόχος (3ετία)<div class="table-cell index_three"></div>
                </th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

    <table class="table oikonomia" id="forologia_table" style="display: none;">
        <thead class="thead">
            <tr>
                <th colspan="1">ΦΟΡΟΛΟΓΙΑ<div class="table-cell index_label"></div>
                </th>
                <th colspan="1">Εξέλιξη την τελευταία 5ετία<div class="table-cell index_five"></div>
                </th>
                <th colspan="1">Πρόσφατα στοιχεία<div class="table-cell index_recent"></div>
                </th>
                <th colspan="1">Επιδιωκόμενος στόχος (3ετία)<div class="table-cell index_three"></div>
                </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <table class="table oikonomia" id="ergasiakes_sxeseis_table" style="display: none;">
        <thead class="thead">
            <tr>
                <th colspan="1">ΕΡΓΑΣΙΑΚΕΣ ΣΧΕΣΕΙΣ<div class="table-cell index_label"></div>
                </th>
                <th colspan="1">Εξέλιξη την τελευταία 5ετία<div class="table-cell index_five"></div>
                </th>
                <th colspan="1">Πρόσφατα στοιχεία<div class="table-cell index_recent"></div>
                </th>
                <th colspan="1">Επιδιωκόμενος στόχος (3ετία)<div class="table-cell index_three"></div>
                </th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

    <br>

    <table class="table koinoniki-politiki" id="apasxolisi_table" style="display: none;">
        <thead class="thead">
            <tr>
                <th colspan="1">ΑΠΑΣΧΟΛΗΣΗ<div class="table-cell index_label"></div>
                </th>
                <th colspan="1">Εξέλιξη την τελευταία 5ετία<div class="table-cell index_five"></div>
                </th>
                <th colspan="1">Πρόσφατα στοιχεία<div class="table-cell index_recent"></div>
                </th>
                <th colspan="1">Επιδιωκόμενος στόχος (3ετία)<div class="table-cell index_three"></div>
                </th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

    <table class="table koinoniki-politiki" id="koinoniki_asfalisi_table" style="display: none;">
        <thead class="thead">
            <tr>
                <th colspan="1">ΚΟΙΝΩΝΙΚΗ ΑΣΦΑΛΙΣΗ<div class="table-cell index_label"></div>
                </th>
                <th colspan="1">Εξέλιξη την τελευταία 5ετία<div class="table-cell index_five"></div>
                </th>
                <th colspan="1">Πρόσφατα στοιχεία<div class="table-cell index_recent"></div>
                </th>
                <th colspan="1">Επιδιωκόμενος στόχος (3ετία)<div class="table-cell index_three"></div>
                </th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

    <table class="table koinoniki-politiki" id="koinoniki_pronoia_table" style="display: none;">
        <thead class="thead">
            <tr>
                <th colspan="1">ΚΟΙΝΩΝΙΚΗ ΠΡΟΝΟΙΑ<div class="table-cell index_label"></div>
                </th>
                <th colspan="1">Εξέλιξη την τελευταία 5ετία<div class="table-cell index_five"></div>
                </th>
                <th colspan="1">Πρόσφατα στοιχεία<div class="table-cell index_recent"></div>
                </th>
                <th colspan="1">Επιδιωκόμενος στόχος (3ετία)<div class="table-cell index_three"></div>
                </th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

    <table class="table koinoniki-politiki" id="ygeia_table" style="display: none;">
        <thead class="thead">
            <tr>
                <th colspan="1">ΥΓΕΙΑ<div class="table-cell index_label"></div>
                </th>
                <th colspan="1">Εξέλιξη την τελευταία 5ετία<div class="table-cell index_five"></div>
                </th>
                <th colspan="1">Πρόσφατα στοιχεία<div class="table-cell index_recent"></div>
                </th>
                <th colspan="1">Επιδιωκόμενος στόχος (3ετία)<div class="table-cell index_three"></div>
                </th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

    <table class="table koinoniki-politiki" id="isotita_fylwn_table" style="display: none;">
        <thead class="thead">
            <tr>
                <th colspan="1">ΙΣΟΤΗΤΑ ΦΥΛΩΝ<div class="table-cell index_label"></div>
                </th>
                <th colspan="1">Εξέλιξη την τελευταία 5ετία<div class="table-cell index_five"></div>
                </th>
                <th colspan="1">Πρόσφατα στοιχεία<div class="table-cell index_recent"></div>
                </th>
                <th colspan="1">Επιδιωκόμενος στόχος (3ετία)<div class="table-cell index_three"></div>
                </th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

    <table class="table koinoniki-politiki" id="metanasteytiki_prosfygiki_politiki_table" style="display: none;">
        <thead class="thead">
            <tr>
                <th colspan="1">ΜΕΤΑΝΑΣΤΕΥΤΙΚΗ-ΠΡΟΣΦΥΓΙΚΗ ΠΟΛΙΤΙΚΗ<div class="table-cell index_label"></div>
                </th>
                <th colspan="1">Εξέλιξη την τελευταία 5ετία<div class="table-cell index_five"></div>
                </th>
                <th colspan="1">Πρόσφατα στοιχεία<div class="table-cell index_recent"></div>
                </th>
                <th colspan="1">Επιδιωκόμενος στόχος (3ετία)<div class="table-cell index_three"></div>
                </th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

    <br>

    <table class="table dimosia-dioikisi" id="dimosia_dioikisi_table" style="display: none;">
        <thead class="thead">
            <tr>
                <th colspan="1">ΔΗΜΟΣΙΑ ΔΙΟΙΚΗΣΗ<div class="table-cell index_label"></div>
                </th>
                <th colspan="1">Εξέλιξη την τελευταία 5ετία<div class="table-cell index_five"></div>
                </th>
                <th colspan="1">Πρόσφατα στοιχεία<div class="table-cell index_recent"></div>
                </th>
                <th colspan="1">Επιδιωκόμενος στόχος (3ετία)<div class="table-cell index_three"></div>
                </th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

    <table class="table dimosia-dioikisi" id="dimosia_asfaleia_table" style="display: none;">
        <thead class="thead">
            <tr>
                <th colspan="1">ΔΗΜΟΣΙΑ ΑΣΦΑΛΕΙΑ<div class="table-cell index_label"></div>
                </th>
                <th colspan="1">Εξέλιξη την τελευταία 5ετία<div class="table-cell index_five"></div>
                </th>
                <th colspan="1">Πρόσφατα στοιχεία<div class="table-cell index_recent"></div>
                </th>
                <th colspan="1">Επιδιωκόμενος στόχος (3ετία)<div class="table-cell index_three"></div>
                </th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

    <table class="table dimosia-dioikisi" id="dikaiosini_table" style="display: none;">
        <thead class="thead">
            <tr>
                <th colspan="1">ΔΙΚΑΙΟΣΥΝΗ<div class="table-cell index_label"></div>
                </th>
                <th colspan="1">Εξέλιξη την τελευταία 5ετία<div class="table-cell index_five"></div>
                </th>
                <th colspan="1">Πρόσφατα στοιχεία<div class="table-cell index_recent"></div>
                </th>
                <th colspan="1">Επιδιωκόμενος στόχος (3ετία)<div class="table-cell index_three"></div>
                </th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

    <br>

    <table class="table ependyseis" id="ependytiki_drastiriotita_table" style="display: none;">
        <thead class="thead">
            <tr>
                <th colspan="1">ΕΠΙΧΕΙΡΗΜΑΤΙΚΗ/ΕΠΕΝΔΥΤΙΚΗ ΔΡΑΣΤΗΡΙΟΤΗΤΑ<div class="table-cell index_label"></div>
                </th>
                <th colspan="1">Εξέλιξη την τελευταία 5ετία<div class="table-cell index_five"></div>
                </th>
                <th colspan="1">Πρόσφατα στοιχεία<div class="table-cell index_recent"></div>
                </th>
                <th colspan="1">Επιδιωκόμενος στόχος (3ετία)<div class="table-cell index_three"></div>
                </th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

    <table class="table ependyseis" id="perivallon_energeia_table" style="display: none;">
        <thead class="thead">
            <tr>
                <th colspan="1">ΠΕΡΙΒΑΛΛΟΝ – ΕΝΕΡΓΕΙΑ<div class="table-cell index_label"></div>
                </th>
                <th colspan="1">Εξέλιξη την τελευταία 5ετία <div class="table-cell index_five"></div>
                </th>
                <th colspan="1">Πρόσφατα στοιχεία<div class="table-cell index_recent"></div>
                </th>
                <th colspan="1">Επιδιωκόμενος στόχος (3ετία)<div class="table-cell index_three"></div>
                </th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

    <table class="table" id="alloi_proteinomenoi_deiktes_table">
        <thead class="thead">
            <tr>
                <th colspan="1">ΑΛΛΟΙ ΠΡΟΤΕΙΝΟΜΕΝΟΙ ΔΕΙΚΤΕΣ <div class="table-cell index_label"></div>
                </th>
                <th colspan="1">Εξέλιξη την τελευταία 5ετία <div class="table-cell index_five"></div>
                </th>
                <th colspan="1">Πρόσφατα στοιχεία <div class="table-cell index_recent"></div>
                </th>
                <th colspan="1">Επιδιωκόμενος στόχος (3ετία) <div class="table-cell index_three"></div>
                </th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

    <div class="govgr-button-group">
        <button type="button" class="govgr-btn govgr-btn-primary previous action-button-previous" name="previous">
            <svg viewBox="0 0 24 24" class="govgr-svg-icon govgr-arrow--left" focusable="false" aria-hidden="true">
                <path d="M10.828 12l4.95 4.95-1.414 1.414L8 12l6.364-6.364 1.414 1.414z" />
                <!--  <path d="M8.5,2L6.1,4.3l7.6,7.7l-7.6,7.6L8.5,22l10-10L8.5,2z"/>-->
            </svg> Προηγούμενα πεδία
        </button>
        <button type="button" class="govgr-btn govgr-btn-primary next action-button" name="next">
            Επόμενα πεδία
            <svg viewBox="0 0 24 24" class="govgr-svg-icon govgr-arrow--right" focusable="false" aria-hidden="true">
                <path d="M8.5,2L6.1,4.3l7.6,7.7l-7.6,7.6L8.5,22l10-10L8.5,2z" />
            </svg>
        </button>
    </div>
</fieldset>