<fieldset id="oikonomika_apotelesmata" class = 'mostly-optional'>
    <h2>Γ. Ειδική Έκθεση</h2>
    <br>
    <div class="form-group">
        <label id="field_17_sxedio_nomou_label" for="field_17_sxedio_nomou" class="mostly-optional-label required">Στο σχέδιο νόμου ή στην τροπολογία επί του σχεδίου νόμου</label>
        <textarea class="form-control" id="field_17_sxedio_nomou" name="field_17_sxedio_nomou" rows="1" placeholder="Σχέδιο νόμου"></textarea>
    </div> 
   <div class="form-group">
        <label id="field_17_ypoyrgeio_label" for="field_17_ypoyrgeio" class="mostly-optional-label required">του Υπουργείου</label>
        <textarea class="form-control" id="field_17_ypoyrgeio" name="field_17_ypoyrgeio" rows="1" placeholder="Υπουργείο"></textarea>
    </div>
    <div class="form-group">
        <label id="field_17_oikonomika_apotelesmata_label" for="field_17_oikonomika_apotelesmata" class="mostly-optional-label required">17.Οικονομικά αποτελέσματα:</label>
        <textarea class="form-control" id="field_17_oikonomika_apotelesmata" name="field_17_oikonomika_apotelesmata" rows="10" placeholder="Από τις διατάξεις του προτεινόμενου σχεδίου νόμου (ή της προτεινόμενης τροπολογίας) προκαλούνται τα ακόλουθα οικονομικά αποτελέσματα:"></textarea>
    </div>
    <hr>
    <div>
        <table class="table " id="field_17_table">
            <thead class="thead ">
                <tr> 
                    <th colspan="3"><label id="table_17_label">ΤΟ ΕΠΙΣΠΕΥΔΩΝ ΥΠΟΥΡΓΕΙΟ</label></th>
                </tr>  
                <tr>
                    <th colspan="1">Όνομα</th>
                    <th colspan="1">Επώνυμο</th>
                    <th colspan="1">Ιδιότητα</th>
               </tr>
            </thead>
            <tbody id="tbody_17">
              
            </tbody>
          </table>
        <br>     
        <input type="button" id="add_row_table_17" name="add_row_table_17" class="float-right" value="Επιπλέον σειρά" />
        <br><br>              
    </div>
    <hr>
    <div>
        <table class="table " id="ministers_table">
            <thead class="thead ">
                <tr>
                    <th colspan="3"><label id="ministers_table_label">ΟΙ ΥΠΟΓΡΑΦΟΝΤΕΣ ΥΠΟΥΡΓΟΙ</label></th>
                </tr>
                <tr>
                    <th colspan="1">Όνομα</th>
                    <th colspan="1">Επώνυμο</th>
                    <th colspan="1">Ιδιότητα</th>
                </tr>
            </thead>
            <tbody id="tbody_ministers">
        
            </tbody>
        </table>
        <br>
        <input type="button" id="add_row_ministers_table" name="add_row_ministers_table" class="float-right" value="Επιπλέον σειρά" />
        <br><br>
    </div>

    
    <input type="button" name="previous" class="previous action-button-previous" value="Προηγούμενη φόρμα"/>
    <input type="button" name="next" class="next action-button" value="Επόμενη φόρμα"/>
</fieldset>


