<fieldset>

    <h2>Ε. Έκθεση διαβούλευσης</h2>
    <br>
    <div class="form-group">
        <label>22.Διαβούλευση κατά τη διάρκεια της νομοπαρασκευαστικής διαδικασίας
            από την έναρξη κατάρτισης της αξιολογούμενης ρύθμισης μέχρι την
            υπογραφή από τους συναρμόδιους Υπουργούς.</label>
        <label id="field_22_sinergasia_ypoyrgeiwn_label" class="required" for="field_22_sinergasia_ypoyrgeiwn">Συνεργασία με άλλα υπουργεία / υπηρεσίες</label>
        <textarea class="form-control" id="field_22_sinergasia_ypoyrgeiwn" name="field_22_sinergasia_ypoyrgeiwn" rows="5"></textarea>
    </div>
    <div>
        <label id="field_22_sinergasia_forewn_arxwn_label" class="required" for="field_22_sinergasia_forewn_arxwn">Συνεργασία με κοινωνικούς φορείς / Ανεξάρτητες Αρχές</label>
        <textarea class="form-control" id="field_22_sinergasia_forewn_arxwn" name="field_22_sinergasia_forewn_arxwn" rows="5"></textarea>
    </div>

    <div>
        <label id="field_22_diethnis_diavouleusi_label" class="required" for="field_22_diethnis_diavouleusi">Διεθνής διαβούλευση</label>
        <textarea class="form-control" id="field_22_diethnis_diavouleusi" name="field_22_diethnis_diavouleusi" rows="5"></textarea>
    </div>
    <br>
    <input type="button" name="previous" class="previous action-button-previous" value="Προηγούμενη φόρμα"/>
    <input type="button" name="next" class="next action-button" value="Επόμενα πεδία"/>

</fieldset>

<fieldset>

    <label id="field_23_upload_label" for="field_23_upload" class="required">23.Σχόλια στο πλαίσιο της διαβούλευσης μέσω της ηλεκτρονικής πλατφόρμας
        www.opengov.gr (ηλεκτρονική επισύναψη της έκθεσης). </label>
    <input type="file" id="field_23_upload" name="field_23_upload" accept=".pdf" multiple> 
    <br><br>
        
    <h4><label id="field_23_arxes_label" class="required">Επί των γενικών αρχών («επί της αρχής») της αξιολογούμενης ρύθμιση</label></h4>
    <br>   
    <textarea class="form-control" id="field_23_arxes_symmetasxontes" name="field_23_arxes_symmetasxontes" placeholder="Αριθμός συμμετασχόντων" rows="1"></textarea>  
    <textarea class="form-control" id="field_23_arxes_sxolia_yiothetithikan" name="field_23_arxes_sxolia_yiothetithikan" placeholder="Σχόλια που υιοθετήθηκαν" rows="3"></textarea> 
    <textarea class="form-control" id="field_23_arxes_sxolia_den_yiothetithikan" name="field_23_arxes_sxolia_den_yiothetithikan" placeholder="Σχόλια που δεν υιοθετήθηκαν (συμπεριλαμβανομένης επαρκούς αιτιολόγησης)" rows="3"></textarea>
    <br>
    
    <h4><label id="field_23_arthra_label" class="required">Επί των άρθρων της αξιολογούμενης ρύθμισης</label></h4>
    <br>   
    <textarea class="form-control" id="field_23_arthra_symmetasxontes" name="field_23_arthra_symmetasxontes" placeholder="Αριθμός συμμετασχόντων" rows="1"></textarea>  
    <textarea class="form-control" id="field_23_arthra_sxolia_yiothetithikan" name="field_23_arthra_sxolia_yiothetithikan" placeholder="Σχόλια που υιοθετήθηκαν" rows="3"></textarea> 
    <textarea class="form-control" id="field_23_arthra_sxolia_den_yiothetithikan" name="field_23_arthra_sxolia_den_yiothetithikan" placeholder="Σχόλια που δεν υιοθετήθηκαν (συμπεριλαμβανομένης επαρκούς αιτιολόγησης)" rows="3"></textarea>
    <br>    

    <input type="button" name="previous" class="previous action-button-previous" value="Προηγούμενα πεδία"/>
    <input type="button" name="next" class="next action-button" value="Επόμενη φόρμα"/>
    
</fieldset>