<fieldset id="ofeli_rythmisis" class="field-18 vouleutes" >

    <h2>Δ. Έκθεση γενικών συνεπειών</h2>
    <br>
    
    <h3><label id="ofeli_rythmisis_table_label" class="field-18-label vouleutes-label required">18.Οφέλη αξιολογούμενης ρύθμισης</label><div class="index_table18"></div></h3>
    <table class="table" id="ofeli_rythmisis_table">
        <thead class="thead">
            <tr>                                
                <th colspan="6"><label>ΟΦΕΛΗ ΡΥΘΜΙΣΗΣ</label><div class="index_benefits"></div></th>
            <tr>
                <th colspan="6">ΑΜΕΣΑ</th>
            <tr>
                <th colspan="1"> </th>
                <th colspan="1">ΘΕΣΜΟΙ, ΔΗΜΟΣΙΑ ΔΙΟΙΚΗΣΗ, ΔΙΑΦΑΝΕΙΑ</th>
                <th colspan="1">ΑΓΟΡΑ, ΟΙΚΟΝΟΜΙΑ, ΑΝΤΑΓΩΝΙΣΜΟΣ</th>
                <th colspan="1">ΚΟΙΝΩΝΙΑ & ΚΟΙΝΩΝΙΚΕΣ ΟΜΑΔΕΣ</th>
                <th colspan="1">ΦΥΣΙΚΟ, ΑΣΤΙΚΟ ΚΑΙ ΠΟΛΙΤΙΣΤΙΚΟ ΠΕΡΙΒΑΛΛΟΝ</th>
                <th colspan="1">ΝΗΣΙΩΤΙΚΟΤΗΤΑ</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="checkbox-group form-group row">
                        <input type="hidden" name="field_18_amesa_esoda_cbxlabel" value="Αύξηση εσόδων"/>
                        <input type="hidden" name="field_18_amesa_esoda_cbxsecondHeader" value="ΑΜΕΣΑ"/>
                        <input type="hidden" name="field_18_amesa_esoda_cbxHeader" value="ΟΦΕΛΗ ΡΥΘΜΙΣΗΣ" />                        
                        <label class="col-sm-10 col-form-label">Αύξηση εσόδων</label>
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_18_amesa_esoda_thesmoi" name="field_18_amesa_esoda_thesmoi">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_18_amesa_esoda_oikonomia" name="field_18_amesa_esoda_oikonomia">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_18_amesa_esoda_kinonia" name="field_18_amesa_esoda_kinonia">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_18_amesa_esoda_perivallon" name="field_18_amesa_esoda_perivallon">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_18_amesa_esoda_nisiwtika" name="field_18_amesa_esoda_nisiwtika">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="checkbox-group form-group row">
                        <input type="hidden" name="field_18_amesa_dapanes_cbxlabel" value="Μείωση δαπανών"/>
                        <label class="col-sm-11 col-form-label">Μείωση δαπανών</label>
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_18_amesa_dapanes_thesmoi" name="field_18_amesa_dapanes_thesmoi">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_18_amesa_dapanes_oikonomia" name="field_18_amesa_dapanes_oikonomia">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_18_amesa_dapanes_kinonia" name="field_18_amesa_dapanes_kinonia">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_18_amesa_dapanes_perivallon" name="field_18_amesa_dapanes_perivallon">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_18_amesa_dapanes_nisiwtika" name="field_18_amesa_dapanes_nisiwtika">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="checkbox-group form-group row">
                        <input type="hidden" name="field_18_amesa_eksikonomisi_xronou_cbxlabel" value="Εξοικονόμηση χρόνου"/>
                        <label class="col-sm-12 col-form-label">Εξοικονόμηση χρόνου</label>
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_18_amesa_eksikonomisi_xronou_thesmoi"
                            name="field_18_amesa_eksikonomisi_xronou_thesmoi">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_18_amesa_eksikonomisi_xronou_oikonomia"
                            name="field_18_amesa_eksikonomisi_xronou_oikonomia">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_18_amesa_eksikonomisi_xronou_kinonia"
                            name="field_18_amesa_eksikonomisi_xronou_kinonia">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_18_amesa_eksikonomisi_xronou_perivallon"
                            name="field_18_amesa_eksikonomisi_xronou_perivallon">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_18_amesa_eksikonomisi_xronou_nisiwtika"
                            name="field_18_amesa_eksikonomisi_xronou_nisiwtika">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="checkbox-group form-group row">
                        <input type="hidden" name="field_18_amesa_apodotikotita_cbxlabel" value="Μεγαλύτερη αποδοτικότητα"/>
                        <label class="col-sm-12 col-form-label">Μεγαλύτερη αποδοτικότητα </label>
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_18_amesa_apodotikotita_thesmoi" name="field_18_amesa_apodotikotita_thesmoi">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_18_amesa_apodotikotita_oikonomia" name="field_18_amesa_apodotikotita_oikonomia">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_18_amesa_apodotikotita_kinonia" name="field_18_amesa_apodotikotita_kinonia">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_18_amesa_apodotikotita_perivallon" name="field_18_amesa_apodotikotita_perivallon">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_18_amesa_apodotikotita_nisiwtika" name="field_18_amesa_apodotikotita_nisiwtika">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="checkbox-group form-group row">
                        <input type="hidden" name="field_18_amesa_allo_cbxlabel" value="Άλλο"/>
                        <label class="col-sm-12 col-form-label">Άλλο</label>
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_18_amesa_allo_thesmoi" name="field_18_amesa_allo_thesmoi">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_18_amesa_allo_oikonomia" name="field_18_amesa_allo_oikonomia">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_18_amesa_allo_kinonia" name="field_18_amesa_allo_kinonia">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_18_amesa_allo_perivallon" name="field_18_amesa_allo_perivallon">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_18_amesa_allo_nisiwtika" name="field_18_amesa_allo_nisiwtika">
                    </div>
                </td>
            </tr>
            <tr>
                <th colspan="6">ΕΜΜΕΣΑ</th>
            <tr>
                <th colspan="1"> </th>
                <th colspan="1">ΘΕΣΜΟΙ, ΔΗΜΟΣΙΑ ΔΙΟΙΚΗΣΗ, ΔΙΑΦΑΝΕΙΑ</th>
                <th colspan="1">ΑΓΟΡΑ, ΟΙΚΟΝΟΜΙΑ, ΑΝΤΑΓΩΝΙΣΜΟΣ</th>
                <th colspan="1">ΚΟΙΝΩΝΙΑ & ΚΟΙΝΩΝΙΚΕΣ ΟΜΑΔΕΣ</th>
                <th colspan="1">ΦΥΣΙΚΟ, ΑΣΤΙΚΟ ΚΑΙ ΠΟΛΙΤΙΣΤΙΚΟ ΠΕΡΙΒΑΛΛΟΝ</th>
                <th colspan="1">ΝΗΣΙΩΤΙΚΟΤΗΤΑ</th>
            </tr>
            </thead>
        <tbody>
            <tr>
                <td>
                    <div class="checkbox-group form-group row">
                        <input type="hidden" name="field_18_emmesa_veltiosi_cbxlabel" value="Βελτίωση παρεχόμενων υπηρεσιών"/>
                        <input type="hidden" name="field_18_emmesa_veltiosi_cbxsecondHeader" value="ΕΜΜΕΣΑ"/>
                        <label class="col-sm-12 col-form-label">Βελτίωση παρεχόμενων υπηρεσιών</label>
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_18_emmesa_veltiosi_thesmoi" name="field_18_emmesa_veltiosi_thesmoi">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_18_emmesa_veltiosi_oikonomia" name="field_18_emmesa_veltiosi_oikonomia">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_18_emmesa_veltiosi_kinonia" name="field_18_emmesa_veltiosi_kinonia">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_18_emmesa_veltiosi_perivallon" name="field_18_emmesa_veltiosi_perivallon">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_18_emmesa_veltiosi_nisiwtika" name="field_18_emmesa_veltiosi_nisiwtika">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="checkbox-group form-group row">
                        <input type="hidden" name="field_18_emmesa_metaxirisi_cbxlabel" value="Δίκαιη μεταχείριση πολιτών"/>
                        <label class="col-sm-11 col-form-label">Δίκαιη μεταχείριση πολιτών</label>
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_18_emmesa_metaxirisi_thesmoi" name="field_18_emmesa_metaxirisi_thesmoi">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_18_emmesa_metaxirisi_oikonomia" name="field_18_emmesa_metaxirisi_oikonomia">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_18_emmesa_metaxirisi_kinonia" name="field_18_emmesa_metaxirisi_kinonia">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_18_emmesa_metaxirisi_perivallon" name="field_18_emmesa_metaxirisi_perivallon">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_18_emmesa_metaxirisi_nisiwtika" name="field_18_emmesa_metaxirisi_nisiwtika">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="checkbox-group form-group row">
                        <input type="hidden" name="field_18_emmesa_diafania_cbxlabel" value="Αυξημένη αξιοπιστία / διαφάνεια θεσμών"/>
                        <label class="col-sm-12 col-form-label">Αυξημένη αξιοπιστία / διαφάνεια θεσμών</label>
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_18_emmesa_diafania_thesmoi" name="field_18_emmesa_diafania_thesmoi">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_18_emmesa_diafania_oikonomia" name="field_18_emmesa_diafania_oikonomia">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_18_emmesa_diafania_kinonia" name="field_18_emmesa_diafania_kinonia">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_18_emmesa_diafania_perivallon" name="field_18_emmesa_diafania_perivallon">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_18_emmesa_diafania_nisiwtika" name="field_18_emmesa_diafania_nisiwtika">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="checkbox-group form-group row">
                        <input type="hidden" name="field_18_emmesa_diaxirisi_kindinwn_cbxlabel" value="Βελτιωμένη διαχείριση κινδύνων"/>
                        <label class="col-sm-12 col-form-label">Βελτιωμένη διαχείριση κινδύνων</label>
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_18_emmesa_diaxirisi_kindinwn_thesmoi"
                            name="field_18_emmesa_diaxirisi_kindinwn_thesmoi">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_18_emmesa_diaxirisi_kindinwn_oikonomia"
                            name="field_18_emmesa_diaxirisi_kindinwn_oikonomia">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_18_emmesa_diaxirisi_kindinwn_kinonia"
                            name="field_18_emmesa_diaxirisi_kindinwn_kinonia">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_18_emmesa_diaxirisi_kindinwn_perivallon"
                            name="field_18_emmesa_diaxirisi_kindinwn_perivallon">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_18_emmesa_diaxirisi_kindinwn_nisiwtika"
                            name="field_18_emmesa_diaxirisi_kindinwn_nisiwtika">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="checkbox-group form-group row">
                        <input type="hidden" name="field_18_emmesa_allo_cbxlabel" value="Άλλο"/>
                        <label class="col-sm-12 col-form-label">Άλλο</label>
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_18_emmesa_allo_thesmoi" name="field_18_emmesa_allo_thesmoi">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_18_emmesa_allo_oikonomia" name="field_18_emmesa_allo_oikonomia">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_18_emmesa_allo_kinonia" name="field_18_emmesa_allo_kinonia">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_18_emmesa_allo_perivallon" name="field_18_emmesa_allo_perivallon">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_18_emmesa_allo_nisiwtika" name="field_18_emmesa_allo_nisiwtika">
                    </div>
                </td>
            </tr>
            </tr>
            </tr>
        </tbody>
    </table>

    <div class="form-group">
        <label for="field_18_comments" class="field-18-label vouleutes-label required">Σχολιασμός / ποιοτική αποτίμηση:</label><div class="index_table18_comments"></div>
        <textarea class="form-control" id="field_18_comments" name="field_18_comments" rows="3" onkeypress="wordsCounter('field_18_comments','words18',150, event)" onpaste="wordsCounter('field_18_comments','words18',150, event)"></textarea>
        <p style="float: right;">Λέξεις: <span id="words18" ></span> /150</p>
    </div>

    <input type="button" name="previous" class="previous action-button-previous" value="Προηγούμενη φόρμα" />
    <input type="button" name="next" class="next action-button" value="Επόμενα πεδία" />
</fieldset>

<fieldset id="kostos_rythmisis" class="field-19 vouleutes">

    <h3><label id="kostos_rythmisis_table_label" class="field-19-label vouleutes-label required">19.Κόστος αξιολογούμενης ρύθμισης</label><div class="index_table19"></div></h3>
    <table class="table" id="kostos_rythmisis_table">
        <thead class="thead">
            <tr>
                <th colspan="6"><label>ΚΟΣΤΟΣ ΡΥΘΜΙΣΗΣ</label><div class="index_cost"></div></th>
            <tr>
                <th colspan="6">ΓΙΑ ΤΗΝ ΕΝΑΡΞΗ ΕΦΑΡΜΟΓΗΣ ΤΗΣ ΡΥΘΜΙΣΗΣ</th>
            <tr>
                <th colspan="1"> </th>
                <th colspan="1">ΘΕΣΜΟΙ, ΔΗΜΟΣΙΑ ΔΙΟΙΚΗΣΗ, ΔΙΑΦΑΝΕΙΑ</th>
                <th colspan="1">ΑΓΟΡΑ, ΟΙΚΟΝΟΜΙΑ, ΑΝΤΑΓΩΝΙΣΜΟΣ</th>
                <th colspan="1">ΚΟΙΝΩΝΙΑ & ΚΟΙΝΩΝΙΚΕΣ ΟΜΑΔΕΣ</th>
                <th colspan="1">ΦΥΣΙΚΟ, ΑΣΤΙΚΟ ΚΑΙ ΠΟΛΙΤΙΣΤΙΚΟ ΠΕΡΙΒΑΛΛΟΝ</th>
                <th colspan="1">ΝΗΣΙΩΤΙΚΟΤΗΤΑ</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="checkbox-group form-group row">
                        <input type="hidden" name="field_19_efarmogi_proetimasia_cbxlabel" value="Σχεδιασμός / προετοιμασία"/>
                        <input type="hidden" name="field_19_efarmogi_proetimasia_cbxsecondHeader" value="ΓΙΑ ΤΗΝ ΕΝΑΡΞΗ ΕΦΑΡΜΟΓΗΣ ΤΗΣ ΡΥΘΜΙΣΗΣ"/>
                        <input type="hidden" name="field_19_efarmogi_proetimasia_cbxHeader" value="ΚΟΣΤΟΣ ΡΥΘΜΙΣΗΣ" />                        
                        <label class="col-sm-10 col-form-label">Σχεδιασμός / προετοιμασία</label>
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_19_efarmogi_proetimasia_thesmoi" name="field_19_efarmogi_proetimasia_thesmoi">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_19_efarmogi_proetimasia_oikonomia" name="field_19_efarmogi_proetimasia_oikonomia">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_19_efarmogi_proetimasia_kinonia" name="field_19_efarmogi_proetimasia_kinonia">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_19_efarmogi_proetimasia_perivallon" name="field_19_efarmogi_proetimasia_perivallon">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_19_efarmogi_proetimasia_nisiwtika" name="field_19_efarmogi_proetimasia_nisiwtika">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="checkbox-group form-group row">
                        <input type="hidden" name="field_19_efarmogi_ypodomi_cbxlabel" value="Υποδομή / εξοπλισμός"/>
                        <label class="col-sm-11 col-form-label">Υποδομή / εξοπλισμός</label>
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_19_efarmogi_ypodomi_thesmoi" name="field_19_efarmogi_ypodomi_thesmoi">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_19_efarmogi_ypodomi_oikonomia" name="field_19_efarmogi_ypodomi_oikonomia">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_19_efarmogi_ypodomi_kinonia" name="field_19_efarmogi_ypodomi_kinonia">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_19_efarmogi_ypodomi_perivallon" name="field_19_efarmogi_ypodomi_perivallon">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_19_efarmogi_ypodomi_nisiwtika" name="field_19_efarmogi_ypodomi_nisiwtika">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="checkbox-group form-group row">
                        <input type="hidden" name="field_19_efarmogi_kinitikotita_cbxlabel" value="Προσλήψεις / κινητικότητα"/>
                        <label class="col-sm-12 col-form-label">Προσλήψεις / κινητικότητα</label>
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_19_efarmogi_kinitikotita_thesmoi"
                            name="field_19_efarmogi_kinitikotita_thesmoi">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_19_efarmogi_kinitikotita_oikonomia"
                            name="field_19_efarmogi_kinitikotita_oikonomia">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_19_efarmogi_kinitikotita_kinonia"
                            name="field_19_efarmogi_kinitikotita_kinonia">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_19_efarmogi_kinitikotita_perivallon"
                            name="field_19_efarmogi_kinitikotita_perivallon">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_19_efarmogi_kinitikotita_nisiwtika"
                            name="field_19_efarmogi_kinitikotita_nisiwtika">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="checkbox-group form-group row">
                        <input type="hidden" name="field_19_efarmogi_emplekomenoi_cbxlabel" value="Ενημέρωση εκπαίδευση εμπλεκομένων"/>
                        <label class="col-sm-12 col-form-label">Ενημέρωση εκπαίδευση εμπλεκομένων</label>
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_19_efarmogi_emplekomenoi_thesmoi" name="field_19_efarmogi_emplekomenoi_thesmoi">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_19_efarmogi_emplekomenoi_oikonomia" name="field_19_efarmogi_emplekomenoi_oikonomia">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_19_efarmogi_emplekomenoi_kinonia" name="field_19_efarmogi_emplekomenoi_kinonia">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_19_efarmogi_emplekomenoi_perivallon" name="field_19_efarmogi_emplekomenoi_perivallon">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_19_efarmogi_emplekomenoi_nisiwtika" name="field_19_efarmogi_emplekomenoi_nisiwtika">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="checkbox-group form-group row">
                        <input type="hidden" name="field_19_efarmogi_allo_cbxlabel" value="Άλλο"/>
                        <label class="col-sm-12 col-form-label">Άλλο</label>
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_19_efarmogi_allo_thesmoi" name="field_19_efarmogi_allo_thesmoi">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_19_efarmogi_allo_oikonomia" name="field_19_efarmogi_allo_oikonomia">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_19_efarmogi_allo_kinonia" name="field_19_efarmogi_allo_kinonia">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_19_efarmogi_allo_perivallon" name="field_19_efarmogi_allo_perivallon">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_19_efarmogi_allo_nisiwtika" name="field_19_efarmogi_allo_nisiwtika">
                    </div>
                </td>
            </tr>
            <tr>
                <th colspan="6">ΓΙΑ ΤΗ ΛΕΙΤΟΥΡΓΙΑ & ΑΠΟΔΟΣΗ ΤΗΣ ΡΥΘΜΙΣΗΣ</th>
            <tr>
                <th colspan="1"> </th>
                <th colspan="1">ΘΕΣΜΟΙ, ΔΗΜΟΣΙΑ ΔΙΟΙΚΗΣΗ, ΔΙΑΦΑΝΕΙΑ</th>
                <th colspan="1">ΑΓΟΡΑ, ΟΙΚΟΝΟΜΙΑ, ΑΝΤΑΓΩΝΙΣΜΟΣ</th>
                <th colspan="1">ΚΟΙΝΩΝΙΑ & ΚΟΙΝΩΝΙΚΕΣ ΟΜΑΔΕΣ</th>
                <th colspan="1">ΦΥΣΙΚΟ, ΑΣΤΙΚΟ ΚΑΙ ΠΟΛΙΤΙΣΤΙΚΟ ΠΕΡΙΒΑΛΛΟΝ</th>
                <th colspan="1">ΝΗΣΙΩΤΙΚΟΤΗΤΑ</th>
            </tr>
            </thead>
        <tbody>
            <tr>
                <td>
                    <div class="checkbox-group form-group row">
                        <input type="hidden" name="field_19_apodosi_diaxirisis_cbxlabel" value="Στήριξη και λειτουργία διαχείρισης"/>
                        <input type="hidden" name="field_19_apodosi_diaxirisis_cbxsecondHeader" value="ΓΙΑ ΤΗ ΛΕΙΤΟΥΡΓΙΑ & ΑΠΟΔΟΣΗ ΤΗΣ ΡΥΘΜΙΣΗΣ"/>
                        <label class="col-sm-12 col-form-label">Στήριξη και λειτουργία διαχείρισης</label>
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_19_apodosi_diaxirisis_thesmoi" name="field_19_apodosi_diaxirisis_thesmoi">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_19_apodosi_diaxirisis_oikonomia" name="field_19_apodosi_diaxirisis_oikonomia">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_19_apodosi_diaxirisis_kinonia" name="field_19_apodosi_diaxirisis_kinonia">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_19_apodosi_diaxirisis_perivallon" name="field_19_apodosi_diaxirisis_perivallon">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_19_apodosi_diaxirisis_nisiwtika" name="field_19_apodosi_diaxirisis_nisiwtika">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="checkbox-group form-group row">
                        <input type="hidden" name="field_19_apodosi_ektelesi_cbxlabel" value="Διαχείριση αλλαγών κατά την εκτέλεση"/>
                        <label class="col-sm-11 col-form-label">Διαχείριση αλλαγών κατά την εκτέλεση</label>
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_19_apodosi_ektelesi_thesmoi" name="field_19_apodosi_ektelesi_thesmoi">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_19_apodosi_ektelesi_oikonomia" name="field_19_apodosi_ektelesi_oikonomia">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_19_apodosi_ektelesi_kinonia" name="field_19_apodosi_ektelesi_kinonia">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_19_apodosi_ektelesi_perivallon" name="field_19_apodosi_ektelesi_perivallon">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_19_apodosi_ektelesi_nisiwtika" name="field_19_apodosi_ektelesi_nisiwtika">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="checkbox-group form-group row">
                        <input type="hidden" name="field_19_apodosi_kostos_cbxlabel" value="Κόστος συμμετοχής στη νέα ρύθμιση"/>
                        <label class="col-sm-12 col-form-label">Κόστος συμμετοχής στη νέα ρύθμιση</label>
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_19_apodosi_kostos_thesmoi" name="field_19_apodosi_kostos_thesmoi">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_19_apodosi_kostos_oikonomia" name="field_19_apodosi_kostos_oikonomia">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_19_apodosi_kostos_kinonia" name="field_19_apodosi_kostos_kinonia">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_19_apodosi_kostos_perivallon" name="field_19_apodosi_kostos_perivallon">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_19_apodosi_kostos_nisiwtika" name="field_19_apodosi_kostos_nisiwtika">
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="checkbox-group form-group row">
                        <input type="hidden" name="field_19_apodosi_allo_cbxlabel" value="Άλλο"/>
                        <label class="col-sm-12 col-form-label">Άλλο</label>
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_19_apodosi_allo_thesmoi" name="field_19_apodosi_allo_thesmoi">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_19_apodosi_allo_oikonomia" name="field_19_apodosi_allo_oikonomia">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_19_apodosi_allo_kinonia" name="field_19_apodosi_allo_kinonia">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_19_apodosi_allo_perivallon" name="field_19_apodosi_allo_perivallon">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_19_apodosi_allo_nisiwtika" name="field_19_apodosi_allo_nisiwtika">
                    </div>
                </td>
            </tr>
            </tr>
            </tr>
        </tbody>
    </table>

    <div class="form-group">
        <label for="field_19_comments" class="field-19-label vouleutes-label required"><div class="index_table19_comments"></div>Σχολιασμός / ποιοτική αποτίμηση:</label>
        <textarea class="form-control" id="field_19_comments" name="field_19_comments" rows="3" onkeypress="wordsCounter('field_19_comments','words19',150, event)" onpaste="wordsCounter('field_19_comments','words19',150, event)"></textarea>
        <p style="float: right;">Λέξεις: <span id="words19" ></span> /150</p>
    </div>

    <input type="button" name="previous" class="previous action-button-previous" value="Προηγούμενα πεδία" />
    <input type="button" name="next" class="next action-button" value="Επόμενα πεδία" />

</fieldset>

<fieldset id="kindynoi_rythmisis" class="field-20 vouleutes">

    <h3><label id="kindynoi_rythmisis_table_label" class="field-20-label vouleutes-label required">20.Κίνδυνοι αξιολογούμενης ρύθμισης</label><div class="index_table20"></div></h3>
    <table class="table" id="kindynoi_rythmisis_table">
        <thead class="thead">
            <tr>
                <th colspan="6"><label>ΚΙΝΔΥΝΟΙ ΡΥΘΜΙΣΗΣ</label><div class="index_dangers"></div></th>
            <tr>
                <th colspan="6">ΔΙΑΧΕΙΡΙΣΗ KΙΝΔΥΝΩΝ</th>
            <tr>
                <th colspan="1"> </th>
                <th colspan="1">ΘΕΣΜΟΙ, ΔΗΜΟΣΙΑ ΔΙΟΙΚΗΣΗ, ΔΙΑΦΑΝΕΙΑ</th>
                <th colspan="1">ΑΓΟΡΑ, ΟΙΚΟΝΟΜΙΑ, ΑΝΤΑΓΩΝΙΣΜΟΣ</th>
                <th colspan="1">ΚΟΙΝΩΝΙΑ & ΚΟΙΝΩΝΙΚΕΣ ΟΜΑΔΕΣ</th>
                <th colspan="1">ΦΥΣΙΚΟ, ΑΣΤΙΚΟ ΚΑΙ ΠΟΛΙΤΙΣΤΙΚΟ ΠΕΡΙΒΑΛΛΟΝ</th>
                <th colspan="1">ΝΗΣΙΩΤΙΚΟΤΗΤΑ</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="checkbox-group form-group row">
                        <input type="hidden" name="field_20_diaxirisi_entopismos_cbxlabel" value="Αναγνώριση / εντοπισμός κινδύνου"/>
                        <input type="hidden" name="field_20_diaxirisi_entopismos_cbxsecondHeader" value="ΔΙΑΧΕΙΡΙΣΗ KΙΝΔΥΝΩΝ"/>
                        <input type="hidden" name="field_20_diaxirisi_entopismos_cbxHeader" value="ΚΙΝΔΥΝΟΙ ΡΥΘΜΙΣΗΣ" />                        
                        <label class="col-sm-10 col-form-label">Αναγνώριση / εντοπισμός κινδύνου</label>
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_20_diaxirisi_entopismos_thesmoi" name="field_20_diaxirisi_entopismos_thesmoi">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_20_diaxirisi_entopismos_oikonomia" name="field_20_diaxirisi_entopismos_oikonomia">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_20_diaxirisi_entopismos_kinonia" name="field_20_diaxirisi_entopismos_kinonia">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_20_diaxirisi_entopismos_perivallon" name="field_20_diaxirisi_entopismos_perivallon">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_20_diaxirisi_entopismos_nisiwtika" name="field_20_diaxirisi_entopismos_nisiwtika">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="checkbox-group form-group row">
                        <input type="hidden" name="field_20_diaxirisi_synepeies_cbxlabel" value="Διαπίστωση συνεπειών κινδύνων στους στόχους"/>
                        <label class="col-sm-11 col-form-label">Διαπίστωση συνεπειών κινδύνων στους στόχους</label>
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_20_diaxirisi_synepeies_thesmoi" name="field_20_diaxirisi_synepeies_thesmoi">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_20_diaxirisi_synepeies_oikonomia" name="field_20_diaxirisi_synepeies_oikonomia">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_20_diaxirisi_synepeies_kinonia" name="field_20_diaxirisi_synepeies_kinonia">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_20_diaxirisi_synepeies_perivallon" name="field_20_diaxirisi_synepeies_perivallon">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_20_diaxirisi_synepeies_nisiwtika" name="field_20_diaxirisi_synepeies_nisiwtika">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="checkbox-group form-group row">
                        <input type="hidden" name="field_20_diaxirisi_apotropi_cbxlabel" value="Σχεδιασμός αποτροπής / αντιστάθμισης κινδύνων"/>
                        <label class="col-sm-12 col-form-label">Σχεδιασμός αποτροπής / αντιστάθμισης κινδύνων</label>
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_20_diaxirisi_apotropi_thesmoi"
                            name="field_20_diaxirisi_apotropi_thesmoi">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_20_diaxirisi_apotropi_oikonomia"
                            name="field_20_diaxirisi_apotropi_oikonomia">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_20_diaxirisi_apotropi_kinonia"
                            name="field_20_diaxirisi_apotropi_kinonia">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_20_diaxirisi_apotropi_perivallon"
                            name="field_20_diaxirisi_apotropi_perivallon">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_20_diaxirisi_apotropi_nisiwtika"
                            name="field_20_diaxirisi_apotropi_nisiwtika">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="checkbox-group form-group row">
                        <input type="hidden" name="field_20_diaxirisi_allo_cbxlabel" value="Άλλο"/>
                        <label class="col-sm-12 col-form-label">Άλλο</label>
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_20_diaxirisi_allo_thesmoi" name="field_20_diaxirisi_allo_thesmoi">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_20_diaxirisi_allo_oikonomia" name="field_20_diaxirisi_allo_oikonomia">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_20_diaxirisi_allo_kinonia" name="field_20_diaxirisi_allo_kinonia">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_20_diaxirisi_allo_perivallon" name="field_20_diaxirisi_allo_perivallon">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_20_diaxirisi_allo_nisiwtika" name="field_20_diaxirisi_allo_nisiwtika">
                    </div>
                </td>
            </tr>
            <tr>
                <th colspan="6">ΜΕΙΩΣΗ ΚΙΝΔΥΝΩΝ</th>
            <tr>
                <th colspan="1"> </th>
                <th colspan="1">ΘΕΣΜΟΙ, ΔΗΜΟΣΙΑ ΔΙΟΙΚΗΣΗ, ΔΙΑΦΑΝΕΙΑ</th>
                <th colspan="1">ΑΓΟΡΑ, ΟΙΚΟΝΟΜΙΑ, ΑΝΤΑΓΩΝΙΣΜΟΣ</th>
                <th colspan="1">ΚΟΙΝΩΝΙΑ & ΚΟΙΝΩΝΙΚΕΣ ΟΜΑΔΕΣ</th>
                <th colspan="1">ΦΥΣΙΚΟ, ΑΣΤΙΚΟ ΚΑΙ ΠΟΛΙΤΙΣΤΙΚΟ ΠΕΡΙΒΑΛΛΟΝ</th>
                <th colspan="1">ΝΗΣΙΩΤΙΚΟΤΗΤΑ</th>
            </tr>
            </thead>
        <tbody>
            <tr>
                <td>
                    <div class="checkbox-group form-group row">
                        <input type="hidden" name="field_20_meiwsi_efarmogi_cbxlabel" value="Πιλοτική εφαρμογή"/>
                        <input type="hidden" name="field_20_meiwsi_efarmogi_cbxsecondHeader" value="ΜΕΙΩΣΗ ΚΙΝΔΥΝΩΝ"/>
                        <label class="col-sm-12 col-form-label">Πιλοτική εφαρμογή</label>
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_20_meiwsi_efarmogi_thesmoi" name="field_20_meiwsi_efarmogi_thesmoi">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_20_meiwsi_efarmogi_oikonomia" name="field_20_meiwsi_efarmogi_oikonomia">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_20_meiwsi_efarmogi_kinonia" name="field_20_meiwsi_efarmogi_kinonia">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_20_meiwsi_efarmogi_perivallon" name="field_20_meiwsi_efarmogi_perivallon">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_20_meiwsi_efarmogi_nisiwtika" name="field_20_meiwsi_efarmogi_nisiwtika">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="checkbox-group form-group row">
                        <input type="hidden" name="field_20_meiwsi_praktikes_cbxlabel" value="Ανάδειξη καλών πρακτικών κατά την υλοποίηση της ρύθμισης"/>
                        <label class="col-sm-11 col-form-label">Ανάδειξη καλών πρακτικών κατά την υλοποίηση της ρύθμισης</label>
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_20_meiwsi_praktikes_thesmoi" name="field_20_meiwsi_praktikes_thesmoi">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_20_meiwsi_praktikes_oikonomia" name="field_20_meiwsi_praktikes_oikonomia">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_20_meiwsi_praktikes_kinonia" name="field_20_meiwsi_praktikes_kinonia">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_20_meiwsi_praktikes_perivallon" name="field_20_meiwsi_praktikes_perivallon">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_20_meiwsi_praktikes_nisiwtika" name="field_20_meiwsi_praktikes_nisiwtika">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="checkbox-group form-group row">
                        <input type="hidden" name="field_20_meiwsi_aksiologisi_cbxlabel" value="Συνεχής αξιολόγηση διαδικασιών διαχείρισης κινδύνων"/>
                        <label class="col-sm-12 col-form-label">Συνεχής αξιολόγηση διαδικασιών διαχείρισης κινδύνων</label>
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_20_meiwsi_aksiologisi_thesmoi" name="field_20_meiwsi_aksiologisi_thesmoi">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_20_meiwsi_aksiologisi_oikonomia" name="field_20_meiwsi_aksiologisi_oikonomia">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_20_meiwsi_aksiologisi_kinonia" name="field_20_meiwsi_aksiologisi_kinonia">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_20_meiwsi_aksiologisi_perivallon" name="field_20_meiwsi_aksiologisi_perivallon">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_20_meiwsi_aksiologisi_nisiwtika" name="field_20_meiwsi_aksiologisi_nisiwtika">
                    </div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="checkbox-group form-group row">
                        <input type="hidden" name="field_20_meiwsi_allo_cbxlabel" value="Άλλο"/>
                        <label class="col-sm-12 col-form-label">Άλλο</label>
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_20_meiwsi_allo_thesmoi" name="field_20_meiwsi_allo_thesmoi">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_20_meiwsi_allo_oikonomia" name="field_20_meiwsi_allo_oikonomia">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_20_meiwsi_allo_kinonia" name="field_20_meiwsi_allo_kinonia">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_20_meiwsi_allo_perivallon" name="field_20_meiwsi_allo_perivallon">
                    </div>
                </td>
                <td>
                    <div class="checkbox-group form-group row">
                        <div class="col-2"></div>
                        <input class="col-2 form-check-input position-static" type="checkbox"
                            id="field_20_meiwsi_allo_nisiwtika" name="field_20_meiwsi_allo_nisiwtika">
                    </div>
                </td>
                <input type="hidden" name="final_cbxlabel"/>
                <input type="hidden" name="final_cbxHeader"/>                
            </tr>
            </tr>
            </tr>
        </tbody>
    </table>

    <div class="form-group">
        <label for="field_20_comments" class="required field-20-label vouleutes-label">Σχολιασμός / ποιοτική αποτίμηση:</label>
        <textarea class="form-control" id="field_20_comments" name="field_20_comments" rows="3" onkeypress="wordsCounter('field_20_comments','words20',150, event)" onpaste="wordsCounter('field_20_comments','words20',150, event)"></textarea>
        <p style="float: right;">Λέξεις: <span id="words20" ></span> /150</p>
    </div>

    <input type="button" name="previous" class="previous action-button-previous" value="Προηγούμενα πεδία" />
    <input type="button" name="next" class="next action-button" value="Επόμενα πεδία" />

</fieldset>



