<fieldset id="sunafeis_diatakseis" class="field-24">

    <h2>Στ. Έκθεση νομιμότητας</h2>
    <br>
    <div class="form-group">
        <h4><label id="field_24_label" class="required field-24-label" for="field_24">24.Συναφείς συνταγματικές διατάξεις</label></h4>
        <textarea class="form-control" id="field_24" name="field_24" rows="10"></textarea>
    </div>
    <input type="button" name="previous" class="previous action-button-previous" value="Προηγούμενη φόρμα"/>
    <input type="button" name="next" class="next action-button" value="Επόμενα πεδία"/>

</fieldset>

<fieldset id="enwsiako_dikaio" class="field-25">

    <h3>25.Ενωσιακό δίκαιο </h3>
    <br>

    <div class="checkbox-group form-group row">
        <div class="col-2"></div>
        <label id="field_25_dikaio_label" class="col-3 col-form-label field-25-label required">Πρωτογενές ενωσιακό δίκαιο (συμπεριλαμβανομένου του Χάρτη Θεμελιωδών Δικαιωμάτων)</label>
        <input class="col-2 form-check-input position-static" type="checkbox" id="field_25_dikaio" name="field_25_dikaio" value="field_25_dikaio">
    </div>
    <div id="dikaio_wrap" class="form-group" style="display:none;">
        <label for="field_25_dikaio_comment" class="field-25-label required">Συμπληρώστε:</label>
        <textarea class="form-control" id="field_25_dikaio_comment" name="field_25_dikaio_comment" rows="3"></textarea>
    </div>

    <div class="checkbox-group form-group row">
        <div class="col-2"></div>
        <label id="field_25_kanonismos_label" class="col-3 col-form-label field-25-label required">Κανονισμός</label>
        <input class="col-2 form-check-input position-static" type="checkbox" id="field_25_kanonismos" name="field_25_kanonismos" value="field_25_kanonismos">
    </div>         

    <div id="kanonismos_wrap" class="form-group" style="display:none;">
        <label for="field_25_kanonismos_comment" class="field-25-label required">Συμπληρώστε:</label>
        <textarea class="form-control" id="field_25_kanonismos_comment" name="field_25_kanonismos_comment" rows="3"></textarea>
    </div>

    <div class="checkbox-group form-group row">
        <div class="col-2"></div>
        <label id="field_25_odigia_label" class="col-3 col-form-label field-25-label required ">Οδηγία</label>
        <input class="col-2 form-check-input position-static" type="checkbox" id="field_25_odigia" name="field_25_odigia" value="field_25_odigia">
    </div>         

    <div id="odigia_wrap" class="form-group" style="display:none;">
        <label for="field_25_odigia_comment" class="field-25-label required">Συμπληρώστε:</label>
        <textarea class="form-control" id="field_25_odigia_comment" name="field_25_odigia_comment" rows="3"></textarea>
    </div>

    <div class="checkbox-group form-group row">
        <div class="col-2"></div>
        <label id="field_25_apofasi_label" class="col-3 col-form-label field-25-label required">Απόφαση</label>
        <input class="col-2 form-check-input position-static" type="checkbox" id="field_25_apofasi" name="field_25_apofasi" value="field_25_apofasi">
    </div>         

    <div id="apofasi_wrap" class="form-group" style="display:none;">
        <label for="field_25_apofasi_comment" class="required field-25-label">Συμπληρώστε:</label>
        <textarea class="form-control" id="field_25_apofasi_comment" name="field_25_apofasi_comment" rows="3"></textarea>
    </div>

    <input type="button" name="previous" class="previous action-button-previous" value="Προηγούμενα πεδία"/>
    <input type="button" name="next" class="next action-button" value="Επόμενα πεδία"/>
    
</fieldset>

<fieldset id="diatakseis_diethnwn_sumfwniwn" class="field-26">

    <h3>26.Συναφείς διατάξεις διεθνών συνθηκών ή συμφωνιών </h3>
    <br>

    <div class="checkbox-group form-group row">
        <div class="col-2"></div>
        <label id="field_26_antrwpina_dikaiwmata_label" class="col-3 field-26-label col-form-label required">Ευρωπαϊκή Σύμβαση των Δικαιωμάτων του Ανθρώπου</label>
        <input class="col-2 form-check-input position-static" type="checkbox" id="field_26_antrwpina_dikaiwmata" name="field_26_antrwpina_dikaiwmata" value="field_26_antrwpina_dikaiwmata">
    </div>
    <div id="antrwpina_dikaiwmata_wrap" class="form-group" style="display:none;">
        <label for="field_26_antrwpina_dikaiwmata_comment" class="field-26-label required">Συμπληρώστε:</label>
        <textarea class="form-control" id="field_26_antrwpina_dikaiwmata_comment" name="field_26_antrwpina_dikaiwmata_comment" rows="3"></textarea>
    </div>

    <div class="checkbox-group form-group row">
        <div class="col-2"></div>
        <label id="field_26_symvaseis_label" class="col-3 col-form-label field-26-label required">Διεθνείς συμβάσεις</label>
        <input class="col-2 form-check-input position-static" type="checkbox" id="field_26_symvaseis" name="field_26_symvaseis" value="field_26_symvaseis">
    </div>         

    <div id="symvaseis_wrap" class="form-group" style="display:none;">
        <label for="field_26_symvaseis_comment" class="required field-26-label">Συμπληρώστε:</label>
        <textarea class="form-control" id="field_26_symvaseis_comment" name="field_26_symvaseis_comment" rows="3"></textarea>
    </div>

    <input type="button" name="previous" class="previous action-button-previous" value="Προηγούμενα πεδία"/>
    <input type="button" name="next" class="next action-button" value="Επόμενα πεδία"/>
    
    
</fieldset>


<fieldset id="nomologia_diethnwn_dikastiriwn" class="field-27">

    <h3>27.Συναφής νομολογία των ανωτάτων και άλλων εθνικών δικαστηρίων, καθώς και αποφάσεις των Ανεξάρτητων Αρχών </h3>
    <br>

    <div class="checkbox-group form-group row">
        <div class="col-2"></div>
        <label id="field_27_dikastirio_label" class="col-3 col-form-label field-27-label required">Ανώτατο ή άλλο εθνικό δικαστήριο </label>
        <input class="col-2 form-check-input position-static" type="checkbox" id="field_27_dikastirio" name="field_27_dikastirio" value="field_27_dikastirio">
    </div>
    <div id="dikastirio_wrap" class="form-group" style="display:none;">
        <label for="field_27_dikastirio_comment" class="required field-27-label">Αναφέρατε:</label>
        <textarea class="form-control" id="field_27_dikastirio_comment" name="field_27_dikastirio_comment" rows="3" placeholder="Στοιχεία & βασικό περιεχόμενο απόφασης"></textarea>
    </div>

    <div class="checkbox-group form-group row">
        <div class="col-2"></div>
        <label id="field_27_arxi_label" class="col-3 col-form-label field-27-label required">Ανεξάρτητη Αρχή</label>
        <input class="col-2 form-check-input position-static" type="checkbox" id="field_27_arxi" name="field_27_arxi" value="field_27_arxi">
    </div>         

    <div id="arxi_wrap" class="form-group" style="display:none;">
        <label for="field_27_arxi_comment" class="required field-27-label">Αναφέρατε:</label>
        <textarea class="form-control" id="field_27_arxi_comment" name="field_27_arxi_comment" rows="3" placeholder="Στοιχεία & βασικό περιεχόμενο απόφασης"></textarea>
    </div>

    <input type="button" name="previous" class="previous action-button-previous" value="Προηγούμενα πεδία"/>
    <input type="button" name="next" class="next action-button" value="Επόμενα πεδία"/>
    
    
</fieldset>

<fieldset id="diethnis_nomologia" class="field-28">

    <h3>28.Συναφής ευρωπαϊκή και διεθνής νομολογία </h3>
    <br>

    <div class="checkbox-group form-group row">
        <div class="col-2"></div>
        <label id="field_28_nomologia_label" class="col-3 col-form-label field-28-label required">Νομολογία Δικαστηρίου Ε.Ε. </label>
        <input class="col-2 form-check-input position-static" type="checkbox" id="field_28_nomologia" name="field_28_nomologia" value="field_28_nomologia">
    </div>
    <div id="nomologia_wrap" class="form-group" style="display:none;">
        <label for="field_28_nomologia_comment" class="required field-28-label">Αναφέρατε:</label>
        <textarea class="form-control" id="field_28_nomologia_comment" name="field_28_nomologia_comment" rows="3" placeholder="Στοιχεία & βασικό περιεχόμενο απόφασης"></textarea>
    </div>

    <div class="checkbox-group form-group row">
        <div class="col-2"></div>
        <label id="field_28_nomologia_dikaiwmatwn_anthrwpou_label" class="col-3 col-form-label field-28-label required">Νομολογία Ευρωπαϊκού Δικαστηρίου Δικαιωμάτων του Ανθρώπου</label>
        <input class="col-2 form-check-input position-static" type="checkbox" id="field_28_nomologia_dikaiwmatwn_anthrwpou" name="field_28_nomologia_dikaiwmatwn_anthrwpou" value="field_28_nomologia_dikaiwmatwn_anthrwpou">
    </div>         

    <div id="nomologia_dikaiwmatwn_anthrwpou_wrap" class="form-group" style="display:none;">
        <label for="field_28_nomologia_dikaiwmatwn_anthrwpou_comment" class="required field-28-label">Αναφέρατε:</label>
        <textarea class="form-control" id="field_28_nomologia_dikaiwmatwn_anthrwpou_comment" name="field_28_nomologia_dikaiwmatwn_anthrwpou_comment" rows="3" placeholder="Στοιχεία & βασικό περιεχόμενο απόφασης"></textarea>
    </div>

    <div class="checkbox-group form-group row">
        <div class="col-2"></div>
        <label class="col-3 col-form-label field-28-label required" id="field_28_alla_dikastiria_label">Άλλα ευρωπαϊκά ή διεθνή δικαστήρια ή διαιτητικά όργανα </label>
        <input class="col-2 form-check-input position-static" type="checkbox" id="field_28_alla_dikastiria" name="field_28_alla_dikastiria" value="field_28_alla_dikastiria">
    </div>
    <div id="alla_dikastiria_wrap" class="form-group" style="display:none;">
        <label for="field_28_alla_dikastiria_comment" class="field-28-label required">Αναφέρατε:</label>
        <textarea class="form-control" id="field_28_alla_dikastiria_comment" name="field_28_alla_dikastiria_comment" rows="3" placeholder="Στοιχεία & βασικό περιεχόμενο απόφασης"></textarea>
    </div>

    <input type="button" name="previous" class="previous action-button-previous" value="Προηγούμενα πεδία" />
    <input type="button" name="next" class="next action-button" value="Επόμενη φόρμα" />
    
</fieldset>