<fieldset id="tropopoiisi_diataksewn">
    <h2>Ζ. Πίνακας τροποποιούμενων ή καταργούμενων διατάξεων</h2>
    <br>
    <table class="table" id="field_29_table">
        <thead class="thead">
            <tr>
                <th colspan="2"><label class="required">29.Τροποποίηση – αντικατάσταση – συμπλήρωση διατάξεων</label></th>
            </tr>
            <tr>
                <th colspan="1">Διατάξεις αξιολογούμενης ρύθμισης</th>
                <th colspan="1">Υφιστάμενες διατάξεις</th>
            </tr>
        </thead>
        <tbody id="tbody_29">

        </tbody>
    </table>
    
    <input type="button" id="add_row_table_29" name="add_row_table_29" class="float-right" value="Επιπλέον σειρά" />
    <br><br><br>

    <input type="button" name="previous" class="previous action-button-previous" value="Προηγούμενη φόρμα" />
    <input type="button" name="next" class="next action-button" value="Επόμενα πεδία" />
</fieldset>


<fieldset id="katargisi_diataksewn">

    <table class="table" id="field_30_table">
        <thead class="thead">
            <tr>
                <th colspan="2"><label class="required">30.Κατάργηση διατάξεων</label></th>
            </tr>
            <tr>
                <th colspan="1">Διατάξεις αξιολογούμενης ρύθμισης που προβλέπουν κατάργηση</th>
                <th colspan="1">Καταργούμενες διατάξεις</th>
            </tr>
        </thead>
        <tbody id="tbody_30">

        </tbody>
    </table>

    <input type="button" id="add_row_table_30" name="add_row_table_30" class="float-right" value="Επιπλέον σειρά" />
    <br><br><br>
    
    <input type="button" name="previous" class="previous action-button-previous" value="Προηγούμενα πεδία" />
    <input type="button" name="next" class="next action-button" value="Επόμενη φόρμα" />
</fieldset>